.archive.term-flugmodelle #sidebar .facetwp-facet-material, .archive.term-flugmodelle #sidebar .facetwp-facet-wellen,
.archive.term-flugmodelle #sidebar .facetwp-facet-stellkraft, .archive.term-flugmodelle #sidebar .material, .archive.term-flugmodelle #sidebar .wellen,
.archive.term-flugmodelle #sidebar .stellkraft
{
    display: none !important;
}

.archive #sidebar .facetwp-facet-kategorie{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.archive.term-flugmodelle #sidebar .facetwp-facet-kategorie, .archive.term-antrieb #sidebar .facetwp-facet-kategorie,
.archive.term-akkus-ladeger #sidebar .facetwp-facet-kategorie, .archive.term-rc #sidebar .facetwp-facet-kategorie,
.archive.term-servos #sidebar .facetwp-facet-kategorie, .archive.term-zubehoer #sidebar .facetwp-facet-kategorie{
    margin-bottom: 40px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__link{
    position: relative;
    display: block;
    width: 100%;
}

.woocommerce ul.products li.product .container-image-and-badge{
    position: absolute;
    top: 0px;
    right: 0px;
    pointer-events: none;
}

    /*cate FLUGMODELLE*/

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(10){
    order: 1;
}

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(9){
    order: 2;
}

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(3){
    order: 3;
}

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(4){
    order: 4;
}

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(13){
    order: 5;
}

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(21){
    order: 6;
}

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(14){
    order: 7;
}

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(5){
    order: 8;
}

.archive.term-flugmodelle .facetwp-facet-kategorie .facetwp-checkbox:nth-child(11){
    order: 9;
}


/*cate ANTRIEB*/

.archive.term-antrieb .facetwp-facet-kategorie .facetwp-checkbox:nth-child(5){
    order: 1;
}

.archive.term-antrieb .facetwp-facet-kategorie .facetwp-checkbox:nth-child(10){
    order: 2;
}

.archive.term-antrieb .facetwp-facet-kategorie .facetwp-checkbox:nth-child(3){
    order: 3;
}

.archive.term-antrieb .facetwp-facet-kategorie .facetwp-checkbox:nth-child(4){
    order: 4;
}

.archive.term-antrieb .facetwp-facet-kategorie .facetwp-checkbox:nth-child(12){
    order: 5;
}

.archive.term-antrieb .facetwp-facet-kategorie .facetwp-checkbox:nth-child(9){
    order: 6;
}

.archive.term-antrieb .facetwp-facet-kategorie .facetwp-checkbox:nth-child(11){
    order: 7;
}

/*cate AKKUS & LADEGER */

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(3){
    order: 1;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(14){
    order: 2;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(11){
    order: 3;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(19){
    order: 4;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(10){
    order: 5;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(13){
    order: 6;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(9){
    order: 7;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(15){
    order: 8;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(17){
    order: 9;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(5){
    order: 10;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(16){
    order: 11;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(12){
    order: 12;
}

.archive.term-akkus-ladeger .facetwp-facet-kategorie .facetwp-checkbox:nth-child(4){
    order: 13;
}


/*cate RC*/

.archive.term-rc .facetwp-facet-kategorie .facetwp-checkbox:nth-child(5){
    order: 1;
}

.archive.term-rc .facetwp-facet-kategorie .facetwp-checkbox:nth-child(11){
    order: 2;
}

.archive.term-rc .facetwp-facet-kategorie .facetwp-checkbox:nth-child(10){
    order: 3;
}

.archive.term-rc .facetwp-facet-kategorie .facetwp-checkbox:nth-child(12){
    order: 4;
}

.archive.term-rc .facetwp-facet-kategorie .facetwp-checkbox:nth-child(13){
    order: 5;
}

.archive.term-rc .facetwp-facet-kategorie .facetwp-checkbox:nth-child(9){
    order: 6;
}

.archive.term-rc .facetwp-facet-kategorie .facetwp-checkbox:nth-child(4){
    order: 7;
}


/*cate SERVOS*/

.archive.term-servos .facetwp-facet-kategorie .facetwp-checkbox:nth-child(10){
    order: 1;
}

.archive.term-servos .facetwp-facet-kategorie .facetwp-checkbox:nth-child(3){
    order: 2;
}

.archive.term-servos .facetwp-facet-kategorie .facetwp-checkbox:nth-child(4){
    order: 3;
}

.archive.term-servos .facetwp-facet-kategorie .facetwp-checkbox:nth-child(11){
    order: 4;
}

.archive.term-servos .facetwp-facet-kategorie .facetwp-checkbox:nth-child(9){
    order: 5;
}

.archive.term-servos .facetwp-facet-kategorie .facetwp-checkbox:nth-child(5){
    order: 6;
}


/*cate ZUBEHÖR*/

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(24){
    order: 1;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(5){
    order: 2;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(26){
    order: 3;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(20){
    order: 4;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(12){
    order: 5;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(14){
    order: 6;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(10){
    order: 7;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(28){
    order: 8;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(30){
    order: 9;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(3){
    order: 10;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(11){
    order: 11;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(31){
    display: inherit;
    order: 12;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(4){
    order: 13;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(13){
    order: 14;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(9){
    order: 15;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(18){
    order: 16;
}

.archive.term-zubehoer .facetwp-facet-kategorie .facetwp-checkbox:nth-child(29){
    order: 17;
}








    /*================================================================*/

.related.products ul.products li span.price ins ins{
    padding: 0px;
}

.single-product.woocommerce-page ul.products li.product{
    margin-right: 25px !important;
    width: calc(100% / 4 - 25px) !important;
}

.single-product.woocommerce-page ul.products{
    display: flex;
    flex-wrap: wrap;
}

.single-product.woocommerce-page ul.products li.product:nth-child(4n){
    margin-right: 0px !important;
    clear: unset !important;
}

.single-product.woocommerce-page ul.products li.product:nth-child(3n + 1){
    clear: unset !important;
}

.single-product.woocommerce-page .upsells.products ul.products li.product .cartbtn{
    display: none;
}

.single-product.woocommerce-page .upsells.products ul.products li.product{
    background: #EAC930;
    height: 100% !important;
}

.single-product.woocommerce-page .upsells.products ul.products li.product .price{
    padding: 0px 18px 20px;
}

.single-product.woocommerce-page .upsells.products ul.products li.product .price span{
    color: #022E3D;
}

.single-product.woocommerce-page .upsells.products ul.products li .morebtn, .single-product.et_pb_gutters3.et_right_sidebar.woocommerce-page .upsells.products ul.products li .cartbtn{
    display: none;
}

.single-product.woocommerce-page .upsells.products ul.products li .woocommerce-loop-product__title{
    font-size: 12px;
    padding: 28px 18px;
    min-height: 82px;
}

.single-product.woocommerce-page .upsells.products ul.products li.product .size-woocommerce_thumbnail{
    border: 1px solid #e5e5e5;
}


.single-product.woocommerce-page .upsells.products .slick-track{
    float: left;
}

.single-product.woocommerce-page ul.products li.product:nth-child(4n){
    margin-right: 25px !important;
    clear: unset;
}

.single-product.woocommerce ul.products li.product a{
    width: 100%;
}

/*.single.woocommerce-page .up-sells.products ul.products li.product:nth-child(3n){*/
    /*margin-right: 25px !important;*/
/*}*/

.single-product.woocommerce-page ul.products li.product:nth-child(4n){
    margin-right: 0px !important;
    clear: unset;
}

.single-product.woocommerce-page ul.products li.product:nth-child(3n+1){
    clear: none;
}


.single-product .slick-prev:before{
    content: '\f104';
    color: #000;
    opacity: 1;
    font-family: fontawesome;
    font-size: 40px;
}

.single-product .slick-next:before{
    content: '\f105';
    color: #000;
    opacity: 1;
    font-family: fontawesome;
    font-size: 40px;
}

.single-product .slick-next:hover:before, .single-product .slick-next:focus:before{
    color: #000;
}

.single-product .slick-prev:hover, .single-product .slick-prev:focus, .single-product .slick-next:hover, .single-product .slick-next:focus{
    color: #000 !important;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before{
    opacity: 1 !important;
}

.slick-list.draggable{
    max-width: 100% !important;
}

.et_shop_image .et_overlay.active{
    z-index: 3;
    opacity: 1;
}
.et_shop_image .et_overlay.active:before{
    top: 50%;
}

/*#sidebar .noUi-handle.noUi-handle-lower{*/
    /*pointer-events: none;*/
/*}*/

#sidebar .noUi-base .noUi-handle-upper{
    pointer-events: auto;
}

.product-template-default .brief_Detail.clearfix .col6:nth-child(1) p strong{
    color: #7ad03a;
}

@media (max-width: 1285px){
    .other_products_block ul.products.columns-5 li:nth-child(5n){
        margin: 0 2.5% 2.992em 0;
    }
}


@media(min-width: 1280px){

    .top-search-part label input[type="text"]{
        width: 250px;
    }
}
@media (min-width:768px){
    .container{
        width:750px
    }
}
@media (min-width:992px){
    .container{
        width:970px
    }

}
@media (min-width:1200px){
    .container{
        width:1224px
    }
}

@media(max-width: 992px){
    .header .col-lg-10{
        width: 100%;
    }
    .header .navigattion-menu{
        height: calc(100vh - 58px);
        overflow-y: scroll;
    }

    .header .navigattion-menu .top-right-part.clearfix{
        display: flex;
        flex-wrap: wrap;
        max-width: 260px;
        margin: 0 auto;
        height: auto;
    }

    .header .navigattion-menu .top-middle-section{
        order: 2;
        padding: 0px;
    }

    .header .navigattion-menu .top-last-section{
        padding: 45px 0 0px 0;
        order: 1;
        margin-bottom: 35px;
    }

    .single-product.woocommerce-page ul.products li.product{
        margin-bottom: 20px !important;
    }

    .single-product.et_right_sidebar #left-area{
        padding: 0px;
    }
}

@media (max-width: 980px) {
    .woocommerce-page ul.products li.product:nth-child(n){

    }
}

@media(max-width: 767px){

    .single-product.woocommerce-page .upsells.products ul.products li .woocommerce-loop-product__title{
        min-height: auto;
        padding: 26px 20px 0 20px;
        text-align: center;
    }

    .single-product.woocommerce-page .upsells.products ul.products li.product .price{
        padding: 16px 20px 20px 20px;
    }

    .single-product.woocommerce-page .upsells.products ul.products li.product .woocommerce-Price-amount.amount{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .single-product .slick-track{
        display: flex !important;
    }

    .wrapper .content-area{
        position: relative;
        top: -1px;
    }

    .footer-logo-section{
        float: none;
    }

    .other_products_wrap ,.other_products_wrap .et_pb_row{
        padding-bottom: 0px;
    }

    .bottom-section .footer-infor p{
        text-align: center;
    }

    .bottom-section .item-link-footer{
        margin: 0px;
    }

    .bottom-section .footer-infor{
        margin: 0px;
    }

    .bottom-section .container .item-link-footer .col-xs-12:nth-child(1){
        padding: 0px;
    }

    .banner_caption .banner-right-content{
        margin-top: 90px;
    }

    .home .et_shop_image{
        overflow: hidden;
    }

    .banner-btn-section a.btn{
        font-size: 10px;
        width: 125px;
        margin: 0px;
        height: 25px;
        line-height: 21px !important;
        float: left;
        margin-top: 0px;
    }

    .banner-btn-section a.btn:first-child{
        margin-bottom: 5px;
    }

    .bottom-section .container .item-link-footer .col-xs-12:nth-child(1), .bottom-section .container .item-link-footer .col-xs-12:nth-child(2){
        width: 50%;
        padding: 0px 10px;
    }

    .footer-left-section ul li a{
        font-size: 16px;
    }

    .footer-infor p{
        text-align: center;
        font-size: 12px;
    }

    .copyright-section p{
        color: #fff;
    }

    .single-product.woocommerce-page ul.products li.product{
        margin-right: 20px !important;
        width: calc(100% / 2 - 20px) !important;
        margin-bottom: 20px !important;
    }

}

@media(max-width: 550px){
    .home .et_shop_image{
        overflow: hidden;
        max-height: 220px;
        height: 220px;
    }
}