@media (max-width: 1460px) {
#main-content .container {    padding: 0px 20px; width: 100%; }
    .tax-product_cat h1.woocommerce-products-header__title.page-title {        left: 20px; }
    .logo {    left: 20px;   }
}


@media(max-width:1580px){

	.tax-product_cat .banner .slick-prev{
		left: 65px;
	}

	.tax-product_cat .banner .slick-next{
		right: 65px;
	}

	.banner .slick-prev{
		left:10px;
	}
	.banner .slick-next{
		right:10px;
	}
	.banner .slick-dots {
		bottom: -10px;
	}
	.post-type-archive .banner .slick-dots {
		bottom: 30px;
	}
}



@media(max-width:1349px){
	.entry-content ul.products li.product span.woocommerce-Price-amount{
		font-size:32px;
	}
	.banner-btn-section.btn-for-mob{
		bottom:-20px;
	}
	.banner-right-content h4{
		font-size:23px;
	}
}
@media(max-width:1285px){
	.entry-content ul.products li.product{
		width:45.5% !important;
	}
	.banner-btn-section.btn-for-mob{
		bottom:-12px;
	}
	.banner .slick-dots {
		bottom: 0;
	}
	.post-type-archive .banner .slick-dots {
		bottom: 15px;
	}
	.other_products_block ul.products.columns-5 li:nth-child(5){
	        margin-right: 2.5%
	}
	.other_products_block ul.products.columns-5 li{
	    float: none;
        display: inline-block;
        vertical-align: top;
	}
}
@media(max-width:1250px){
	.entry-content ul.products li.product span.woocommerce-Price-amount{
		font-size:30px;
	}
	.post-type-archive-product h1.woocommerce-products-header__title.page-title{
		left:10px;
	}
	.logo{
		left:15px;
	}
	.navigattion-menu ul li a{
		font-size:13px;
	}

	.tax-product_cat .banner-btn-section a{
		width: 49% !important;
		float: left;
	}

	.tax-product_cat .banner-btn-section a:nth-child(1){
		margin-right: 2%;
	}
}
@media(max-width:1180px){
	.navigattion-menu ul li{
		padding:22.5px 11px;
	}
	.banner-main-left-section{
		width:70%;
	}
	.banner-right-content{
		width:30%;
	}
	.other_products_block ul.products.columns-5 li{
		width:30% !important;
		clear:none;
	}
	.other_products_block ul.products.columns-5 li:nth-child(5){
		margin-right:2%;
	}
	.post-type-archive-product .shopbanner .banner-right-content .banner-btn-section{
		padding-top:0;
		margin-top:30px;
	}
	.post-type-archive-product .shopbanner .banner-right-content .banner-btn-section a.btn{
		padding:10px 18px;
		margin-right:8px;
	}
	.best_offer_block .et_pb_code_inner a.warenbtn.cartbtn{
		padding:12px 12px;
		font-size:11px;
	}
	.best_offer_block .et_pb_code_inner a.morebtn{
		padding:12px 12px;
		font-size:11px;
	}
	.banner-right-content{
		margin-top:50px;
	}
	.post-type-archive .banner-btn-section a.btn{
		padding:12px 18px;
		margin-right:7px;
	}
	.single-product .entry-summary button.button[type="submit"]{
		padding:18px 20px !important;
	}
	.woocommerce-cart .quantity.buttons_added{
		width:120px !important;
	}
	.woocommerce-cart .quantity.buttons_added input[type="number"]{
		width:50px !important;
	}

	.tax-product_cat .banner .slick-prev{
		left: 28px;
	}

	.tax-product_cat .banner .slick-next{
		right: 28px;
	}
}
@media(max-width:1092px){

	.top-search-part{
		height: 50px;
	}

	.navigattion-menu ul li{
		padding: 15px 11px;
	}
	.navigattion-menu ul li a{
	    font-size: 11px;
	}
	.top-search-part label input[type="text"]{
		width:150px !important;
	}
	.entry-content ul.products li.product h2.woocommerce-loop-product__title{
		font-size:12px;
		max-width:380px;
	}
	.home .new_products_block h3{
		display:block;
	}
	.recent_products_block span.neu_ribbon{
		display:none;
	}
	.best_offer_block .et_pb_code_inner a.morebtn{
		padding:8px 10px;
	}
	.best_offer_block .et_pb_code_inner a.warenbtn.cartbtn{
		padding:8px 10px;
		margin-right:0;
	}
	.post-type-archive-product .banner-main-left-section{
		width:65%;
	}
	.post-type-archive-product .banner-right-content{
		width:35%;
	}
	.post-type-archive .banner-btn-section a.btn{
		padding:12px 14px;
	}
	.single-product .entry-summary .quantity{
		margin:0 0 0 0 !important;
		display: inline-block;
		float: none !important;
		vertical-align: middle;
	}
	.single-product .entry-summary button[type="submit"]{
		padding:5px 8px;
		font-size:14px;
		float: none !important;
		display: inline-block;
	}
	.single-product .entry-summary button[type="submit"]:hover {
		padding:10px 12px;
	}
	.post-type-archive-product ul.products li.product span.price del{
		display:block;
	}
	.post-type-archive-product ul.products li.product h2.woocommerce-loop-product__title{
		padding:10px 12px;
	}
	.post-type-archive-product ul.products li.product span.price{
		padding:0 12px 17px 12px;
	}
	.related.products ul.products li h2.woocommerce-loop-product__title{
		padding:26px 20px 0 20px;
		line-height:normal;
	}
	.single-product .entry-summary button.button[type="submit"]{
		padding:18px 24px !important;
	}
	.single-product .entry-summary button.button[type="submit"]:hover{
		padding:18px 66px !important;
	}
	.top-middle-section ul li{
		padding:0 7px;
	}
	.best_offer_block .et_pb_code_inner{
		padding-top:0;
	}
	.top-last-section ul li{
		padding-right:12px;
	}
	.banner-img > img{
		height:570px;
	}
	.banner-right-content h4 {
		font-size: 20px;
	}
	.et_left_sidebar #left-area{
		padding-left:15px;
	}
	.et_left_sidebar #sidebar{
		padding:0 15px;
	}
	.top-last-section{
		padding-top:3px;
	}
	.top-last-section ul li a{
		font-size:12px;
	}
	.entry-content ul.products.columns-5 li.product{
		width:47.5% !important;
	}
	.entry-content ul.products li.product{
		width:48% !important;
	}

	.tax-product_cat .banner_caption{
		top: 50%;
		left: 50%;
		right: unset;
		transform: translate(-50%, -50%);
		width: 100%;
	}
}
@media(min-width:993px){
	.navigattion-menu{
		display:block !important;
	}
}

@media(min-width: 981px){
	.et_left_sidebar #left-area{
		padding-left: 62px;
	}
}

@media(max-width:992px){

	/*.single.woocommerce-page .up-sells.products ul.products li.product:nth-child(3n){*/
		/*margin-right: 0px !important;*/
	/*}*/

	.woocommerce-page ul.products li.product:nth-child(n){
		/*margin:0 4.8% 7.5% 0!important;*/
	}
	.single-product.woocommerce-page ul.products li.product{
		margin-right: 25px !important;
		width: calc(100% / 4 - 20px) !important;
		margin-bottom: 25px;
	}

	.single-product.woocommerce-page ul.products li.product:nth-child(4n){
		margin-right: 0px !important;
	}

	.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product{
	    margin: 0 10px 20px !important
	}
	.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product, .search.et_pb_gutters3.et_right_sidebar.woocommerce-page ul.products li.product {
            width: calc(33.33% - 15px) !important;
        float:left
	}
	.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product:nth-child(3n+3){
        margin-right: 0  !important;
    }

    .search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product:nth-child(3n+1){
    	margin-left: 0  !important;
    }
	.banner-main-left-section{
		width:65%;
	}
	.banner-right-content{
		width:35%;
		margin-top:20px;
	}
	.banner-btn-section{
		bottom:-80px;
	}
	.banner .slick-dots {
		bottom: -6px;
	}
	.banner-btn-section a.btn{
		padding:8px 12px;
	}
	.logo{
		left:15px;
		z-index:999;
		top: -5px;
	}
	.navigattion-menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children ul.sub-menu{
		left:-20px;
	}
	.entry-content ul.products li.product{
		width:45.5% !important;
	}
	#toggle-menu{
		display:block;
		position:absolute;
		top: -54px;
		right: 25px;
		z-index:9;
	}
	.logo a img{
		width:120px;
		margin-top: 0px;
	}
	.navigattion-menu ul li{
		display:block;
		padding:0;
	}
	.home .recent_products_block ul.products li.product{
		float:none;
		display:inline-block;
		margin:0 2%;
	}
	#menu{
		display:none;
	}
	.navigattion-menu ul li span.toggle-dropdown{
		display:block;
	}
	.banner-right-content h3{
		font-size:42px;
	}
	.banner-right-content span{
		font-size:18px;
	}
	.banner-right-content h4{
		font-size:14px;
		padding:6px 0;
	}
	.banner-right-content p{
		font-size:14px;
	}
	.top-search-part{
		float:none;
		display:none;
	}
	.top-middle-section,.top-last-section{
		float:none;
	}
	.top-right-part{
		display:none;
	}
	.navigattion-menu .top-right-part {
		display: block;
	}
	.top-part{
		height:78px;
		line-height:78px;
	}
	.main-menu{
		height:0;
		position: relative;
	}
	.navigattion-menu{
		position:absolute;
		background: rgba(234, 201, 48, 0.95);
		top: 0;
		left:0;
		right:0;
		z-index:99;
		text-align:center;
		padding:60px 0;
		height: 100vh;
	}
	.single-product .entry-summary .quantity{
		width:126px !Important;
		margin:0 10px 0 0 !important;
	}
	.single-product .entry-summary input[type="button"]{
		width:42px !important;
		height:62px !important;
	}
	.quantity.buttons_added input[type="number"]{
		width:42px !important;
		height:62px !important;
	    right: -42px !important;
	}
	.woocommerce-cart .quantity.buttons_added input[type="number"]{
		width:50px !important;
		right:0 !important;
		height:71px !important;
	}
	.main-menu .on{
		height:auto;
	}
	.navigattion-menu ul li a{
		font-size:22px;
	}
	.entry-content ul.products li.product h2.woocommerce-loop-product__title{
		font-size:12px;
		max-width:280px;
	    line-height: 28px;
	}
	a.cartbtn{
		padding:4px 8px;
	    border: 2px solid transparent;
		margin-right:10px;
		margin-bottom:35px;
	}
	a.morebtn{
		padding:4px 8px;
		margin-bottom:35px;
	}
	.entry-content ul.products li.product span.woocommerce-Price-amount{
		font-size:30px;
	}
	.best_offer_block .et_pb_column_1{
		width:48%;
	}
	.best_offer_block .et_pb_column_2{
		width:45%;
	}
	.best_offer_block .et_pb_code_inner h3{
		font-size:48px;
	}
	.best_offer_block .et_pb_code_inner h4{
		font-size:18px;
	}
	.best_offer_block .et_pb_code_inner a.warenbtn.cartbtn {
		padding:2px 5px;
		font-size:11px;
		margin-right:2px;
	}
	.best_offer_block .et_pb_code_inner a.morebtn{
		padding:2px 5px;
		font-size:11px;
	}
	.best_offer_block.et_pb_section.et_pb_section_2{
		height:412px;
	}
	.other_products_block ul.products.columns-5 li{
		width:48% !important;
		margin:1% !important;
	    clear: none !important;
	}
	.entry-content ul.products li.product{
		margin-right:2%;
		padding:0 0 0 0;
	}
	.banner{
		margin-top:1px;
	}
	.new_products_block .et_pb_text_inner {
		margin-bottom:45px;
	}
	#sidebar{
		width:30% !important;
		float:left !important;
	}
	#left-area{
		width:70% !important;
		float:right !important;
		box-sizing:border-box;
		padding-bottom:40px;
	}
	#sidebar .et_pb_widget{
		width:75%;
	}
	.best_offer_block .et_pb_code_inner a.morebtn{
		padding:2px 5px;
	}
	.post-type-archive-product .shopbanner .banner-right-content .banner-btn-section a.btn{
		padding:2px;
		margin-right:3px;
		font-size:12px;
	}
	.single-product #left-area {
		width:100% !important;
		margin-top: 0;
	}
	.single-product .brief_Detail .col6.col6_2{
		margin-left:0;
	}
	.top-middle-section{
	    padding: 55px 0 40px 0;
	}
	.navigattion-menu ul{
		max-width:260px;
		margin:0 auto;
		text-align:left;
	}
	.navigattion-menu ul li:hover ul.sub-menu{
		display:none;
	}
	.navigattion-menu ul.sub-menu{
		position:relative;
		top:0;
	}
	.navigattion-menu ul li.menu-item-has-children:hover ul.sub-menu{
		display:none;
	}
	.top-last-section ul li.cart span.click_caret{
		display:none;
	}
	.top-last-section ul li a span{
		display:none;
	}
	.top-last-section ul li{
		float:none;
	}
	.top-last-section ul li a{
		font-size:18px;
	}
	.top-middle-section ul li span{
		display:none;
	}
	.top-middle-section ul li a{
		font-size:18px;
		color:#1B3A4E;
	}
	.recent_products_block a.cartbtn{
		padding:10px 16px;
	}
	.recent_products_block a.morebtn{
		padding:10px 16px;
	}
	.navigattion-menu ul li{
		font-size:18px;
		line-height:30px;
		color:#1B3A4E;
	}
	.single-product .flex-viewport figure.woocommerce-product-gallery__wrapper img{
		height:420px;
	}
	.post-type-archive .banner-btn-section a.btn{
		padding:5px 6px;
		font-size:10px;
	}
	.single-product .entry-summary button.button[type="submit"]{
		padding:20px 30px !important ;
	    font-size: 12px !important;
	}
	.single-product .entry-summary button.button[type="submit"]:hover{
		padding:20px 30px !important;
	}
	.navigattion-menu ul.sub-menu li a{
		font-size:18px;
	}
	.woocommerce-cart #left-area{
		width:100% !important;
	}

}
@media(max-width:767px){
/* 	.content-area{
		padding:0 15px;
		box-sizing:border-box;
	} */

	.tax-product_cat .banner_caption{
		position: absolute;
		left: 0;
		right: 0;
		top: 40%;
		transform: translateY(-50%);
	}

	#left-area{
		padding:30px 0 0 0 !important;
		border-left:none;
	}
	 #sidebar{
		padding:30px 15px 0 15px !important;
	}
	#commentform input[type=email], #commentform input[type=text], #commentform input[type=url] {
		width: 100%;
	}
	#left-area ul.products{
		padding:0 !important;
	}
	.top-part{
		height:58px;
		line-height:58px;
	}
	#toggle-menu{
		top: -40px;
	}
	.woocommerce-cart .quantity.buttons_added{
		width:auto !important;
	}
	.footer-logo-section{
		padding:30px 0;
	}
	.footer-right-section {
		text-align: center;
	}
	.footer-right-section ul li{
		padding:0 8px;
		float:none;
		display:inline-block;
	}
	.navigattion-menu .top-right-part{
		display:block;
	}
	.navigattion-menu ul li{
		line-height:normal;
	}
	.on .top-last-section{
		display:block;
	}
	.on .top-search-part{
		display:block;
	}
	.logo a img{
		width:80px;
	}
	.single-product .entry-summary input[type="button"]{
		width:64px !important;
		height:71px !important;
	}
	.quantity.buttons_added input[type="number"]{
		width:64px !important;
		height:71px !important;
	    right: -62px !important;
	}
	.entry-content ul.products li.product{
		width:100% !important;
		margin:0 !important;
		display:block;
	}
	.best_offer_block.et_pb_section.et_pb_section_2{
		min-height: 400px;
		height: auto;
	}
	.best_offer_block .et_pb_code_inner{
		padding-top:0;
		text-align: center;
	}
	.best_offer_block .et_pb_column_1{
		width:80% !important;
	}
	.best_offer_block .et_pb_column_2{
		width:100%;
		max-width:300px;
		float:right;
		text-align:left;
	}
	.best_offer_block .et_pb_code_inner{
		text-align:left;
	}
	.best_offer_block .et_pb_column .et_pb_module{
		margin-bottom:0;
	}
	.best_offer_block .et_pb_text_inner h2{
		font-size:26px;
	}
	.best_offer_block .et_pb_code_inner h3{
		font-size:26px;
	}
	.best_offer_block .et_pb_code_inner h6{
		padding-bottom:10px;
	}
	.related.products ul.products li span.price ins{
		text-align:center;
	}
/* 	.banner{
		height:660px;
	} */
	.banner-main-left-section{
		width:100%;
		float:none;
	}
	.banner-right-content{
		width:100%;
		float:none;
		position:relative;
		top: 0;
		transform: none;
		text-align:center;
		max-width:100%;
		margin-top:58px;
	}
	.banner-btn-section {
		margin-top: 8px;
	}
	.et_pb_section.new_products_block{
		padding:10px 0;
	}
	.banner-right-content h3{
		font-size:30px;
	}
	.banner-btn-section a.btn{
		margin-right:0;
		padding:4px 5px;
		font-size:11px;
		display: block;
		max-width: 135px;
		margin: 5px 0;
	}
	.entry-content ul.products li.product span.price ins{
		text-align:center;
	}
	.banner-main-left-section{
		width:72%;
		float:left;
		max-width:100%;
	}
	.single-product .entry-summary button.button[type="submit"]{
	    padding: 12px 36px !important;
		float:none !important;
	}
	.single-product .entry-summary button.button[type="submit"]:hover{
		 padding: 12px 36px !important;
	}
	.entry-content ul li span.woocommerce-Price-amount{
		text-align:center !important;
	}
	.banner .slick-prev{
		display:none !important;;
	}
	.banner .slick-next{
		display:none !important;
	}
	.home .entry-content ul.products li.product h2.woocommerce-loop-product__title{
		font-size:12px;
	    text-align: center;
	}
	.entry-content ul.products li.product h2.woocommerce-loop-product__title{
		font-size:20px;
		line-height:20px;
		padding:12px 0;
	}
	.new_products_block .et_pb_row{
		width:100%;
		padding:0;
	}
	.other_products_wrap .et_pb_row_fullwidth{
		width:100% !important;
	}
	.other_products_block ul.products.columns-5 li{
		margin:15px 0 !important;
	}
	.other_products_block.et_pb_section{
		padding:0;
	}
	.banner-right-content{
		max-width:245px;
		float:right;
		text-align:left;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top:70px;
	}
	.home .banner-right-content .banner-btn-section{
		display:block;
	}
	.banner-btn-section.btn-for-mob{
		display:none;
	}
	.banner-btn-section{
		max-width: 100%;
		width: 100%;
		float: none;
		text-align: center;
		bottom:-40px;
	}
	.banner-right-content h4{
		font-size: 13px;
		padding: 0;
		line-height: 18px;
	}
	.banner-right-content span{
		font-size:13px;
	}
	.banner-right-content p{
		font-size:10px;
		line-height:normal;
	}
	.banner .slick-dots{
		display:none !important;
	}
	.recent_products_block a.cartbtn{
		margin-right:0;
		margin-bottom:20px;
	}
	.recent_products_block a.morebtn{
		padding:8px 10px;
	}
	a.morebtn{
		margin-bottom:20px;
	}
/* 	.banner{
		min-height: 350px;
		height: auto;
	} */
	#sidebar{
		width:100% !important;
		float:none !important;
		margin:0 auto;
	}
	#left-area{
		width:100% !important;
		float:none !important;
		box-sizing:border-box;
		padding-bottom:40px;
	}
	#sidebar .et_pb_widget{
		width:100%;
	}
	#sidebar .searchandfilter .meta-slider{
		max-width:100%;
	}
	.woocommerce-page ul.products li.product:nth-child(n){
		/*width:100% !important;*/
		/*margin:0 0% 7.5% 0!important;*/
		float:none;
	}
	#left-area ul.products li.product{
		width:calc(100% / 2 - 10px) !important;
		margin: 0px 20px 20px 0px !important;
		float:left !important;
		height: 100% !important;
	}

	#left-area ul.products li.product:nth-child(2n){
		margin-right: 0px !important;
	}

	#left-area section.up-sells.upsells.products ul.products li.product{
		/*margin: 0px 12.5px!important;*/
		float: none !important;
		display: inline-block;
	}

	.post-type-archive-product ul.products li.product span.price{
		text-align:center;
		padding:0 0 17px 0;
	}
	.post-type-archive-product ul.products li.product span.price ins{
		text-align:center;
	}
	.post-type-archive-product ul.products li.product h2.woocommerce-loop-product__title{
		padding:10px 0;
		max-width:100%;
		text-align:center;
	}
	.single-product #left-area{
		margin-top:0;
	}
	.related.products ul.products li h2.woocommerce-loop-product__title{
		max-width:100%;
		text-align:center;
	}
	.woocommerce ul.products li.product .price ins{
		display:block;
		text-align:left;
		padding:0;
	}
	.single-product .entry-summary .quantity{
		width:185px !important;
	    margin: 0 0 0 0 !important;
		float:none !important;
	}
	.post-type-archive-product .shopbanner{
		min-height:350px;
		height:auto;
	}
	.post-type-archive-product .shopbanner .banner-right-content{
		margin-top:0;
	}
	.post-type-archive-product .banner-right-content{
		width:100%;
		margin-top:120px;
	}
	.woocommerce-breadcrumb{
		text-align:left;
	}
	#left-area .woocommerce-result-count{
		float:none;
	}
	.post-type-archive-product .woocommerce-ordering{
		float:left;
	}
	.post-type-archive-product #sidebar{
		margin-top:30px;
	}
	.post-type-archive-product h1.woocommerce-products-header__title.page-title{
		left:10px;
		top:-32px;
	}
	.single-product .brief_Detail .col6{
		float:none;
	}
	.single-product .brief_Detail .col6.col6_2{
		float:none;
		padding-top:15px;
	}
	.single-product .brief_Detail .col6.col6_2 ul{
		padding:0 !important;
	}
	.single-product .entry-summary button[type="submit"]{
		float:none !important;
		padding:12px 34px;
		display:block;
		margin-top:15px;
		font-size:16px;
	}
	.tax-product_cat h1.woocommerce-products-header__title.page-title{
		left:20px;
	}
	.single-product .entry-summary button[type="submit"]:hover{
		padding:12px 36px;
	}
	.one_half {
		width: 100%;
		margin: 25px 0;
	}
	.single-product .flex-viewport figure.woocommerce-product-gallery__wrapper img{
		height:420px !important;
		object-fit:cover;
	}
	.post-type-archive-product #left-area{
		padding-right:0;
		margin-top:0	;
	}
	.post-type-archive-product .prod_filter_btn{
		margin-top:30px;
	}
	.post-type-archive-product
	.banner_caption{
		top:0;
		transform:none;
	}
	.banner-img > img{
		height:370px;
	}
	.post-type-archive-product .banner-main-left-section {
		width: 80%;
	}
	.post-type-archive .banner-right-content{
		max-width:160px;
	}
	.post-type-archive .banner-img > img{
		height:300px;
	}
	.quantity.buttons_added{
		width:auto !important;;
	}
	nav.woocommerce-pagination ul li{
		margin-bottom:5px !important;
	}
	.tax-product_cat ul.products li a{
		display:block;
	}
	form.woocommerce-ordering{
		float:none !important;
		text-align:left;
	}
	a.cartbtn{
		margin-bottom:10px;
	}
	.best_offer_block .et_pb_code_inner h5{
		padding-bottom:0;
	}
	.best_offer_block .et_pb_code_inner h4{
		margin-bottom:5px;
	}
	.entry-content ul.products.columns-5 li.product{
		width:100% !important;
	}
	.best_offer_block .et_pb_code_inner a.morebtn{
		margin-bottom:10px;
	}

	.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product{
	    margin: 0 10px 20px !important
	}
	.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product, .search.et_pb_gutters3.et_right_sidebar.woocommerce-page ul.products li.product {
            width:100% !important;
            margin:0 0 20px !important
	}
    .search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product:nth-child(3n+3),
    .search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product:nth-child(3n+1){
        margin-right: 0  !important;
        margin-left: 0  !important;
    }
	.prod_filter_btn{
		display:block;
	}
	.prod_filter_btn a{
		display: inline-block;
		background: #022e3d;
		padding: 10px 24px 10px 24px;
		color: #ffffff;
		border: none;
		letter-spacing: 0.8px;
		font-size: 12px;
		font-weight: bold;
		border-radius:5px;
	}
	.prod_filter_btn a:focus{
		text-decoration:none;
	}
	#sidebar{
		display:none;
	}
	.prod_filter_btn .on{
		display:block;
	}
	.home .recent_products_block ul.products li.product{
		display:block;
	}
}
@media(max-width:660px){
	.banner-main-left-section{
		width:90%;
	}
	.banner-right-content{
		margin-top:90px;
		max-width:182px;
	}

	.tax-product_cat .banner-main-left-section{
		width: 100%;
		padding: 0px;
	}

	.banner_caption .banner-right-content{
		max-width: 182px;
	}

	.tax-product_cat .banner-btn-section a{
		width: 100% !important;
	}
}
@media(max-width:480px){
	.single-product .flex-viewport figure.woocommerce-product-gallery__wrapper img{
		height:260px !important;
		object-fit:cover;
	}
	.banner-main-left-section{
		width:auto;
	}
	.banner-right-content{
		margin-top:115px;
	}
	.banner_caption{
		top:45%;
	}
	.banner-btn-section{
		bottom:-93px;
	}
	.banner-right-content h3 {
		font-size: 24px;
		padding-bottom: 0;
	}
	.banner-btn-section a.btn{
		padding:2px 4px;
		font-size:11px;
	}
	.banner-img > img{
		height:400px;
	}
	/*#left-area section.up-sells.upsells.products ul.products li.product{*/
		/*margin: 0px !important;*/
	/*}*/
}
