/*
 Theme Name:     BEST ZELLER
 Theme URI:      http://www.elegantthemes.com/gallery/divi
 Description:    Divi Child Theme
 Author:         MONOBUNT GmbH
 Author URI:     https://www.monobunt.at
 Template:       Divi
 Version:        1.0.0
*/

@import url("../Divi/style.css");

/* =Theme customization starts here
------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/***************************************** normal style *****************************************/
* {
	 margin: 0px;
	 padding: 0px;
}

ul {
	 list-style: none;
 margin-bottom:0;
}

a:hover{
	 text-decoration: none;
}

.et_pb_text_inner a{
	 text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
 margin:0;
}
p{
 margin-bottom:0;
}
label{
 margin-bottom:0;
}
body {
	 color: #3d3d3d;
	 font-family: 'PT Sans', sans-serif;
	 font-size: 14px;
	 font-weight: normal;
}
.container {
	 width: 1224px;
 max-width:100%;
	 margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
	 content: "";
	 display: table;
	 clear: both;
}
.cler {
	 clear: both;
}
.clearfix {
	 *zoom: 1;
	 height: 100%;
}
.wrapper{
 width:100%;
 margin:0 auto;
}
article.page {
	 margin-top: 50px;
	 margin-bottom: 45px;
}
label {
    display: initial !important;
}

/*** Take out the divider line between content and sidebar for Single WooCommerce Product Pages ***/
.single-product #main-content .container:before {background: none;}

/*** Hide Sidebar for Single WooCommerce Product Pages ***/
.single-product #sidebar, .single-product #sidebar-secondary {display:none;}

/*** Expand the content area to fullwidth for Single WooCommerce Product Pages ***/
@media (min-width: 981px){
.single-product #left-area, .single-product #primary {width: 100%;padding: 23px 0px 0px !important;float: none !important;}
.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product{width: 31.5%;margin-right: 2.7%;}
}

 /***************************************** header style *****************************************/
 .header .container{
	 max-width:1230px;
	 width:100%;
 }
.top-part{
	background:#1B3A4E;
	padding:9px 0;
}
.logo{
	position:absolute;
	top:-10px;
	left:0;
	z-index:99;
}
.logo a{
	display:block;
}
.top-middle-section{
	float:left;
}

.top-middle-section ul {
    margin-bottom: 7px;
}

.top-middle-section ul li{
	display:inline-block;
	font-size:14px;
	color:#FFFFFF;
	padding:0 14px;
	box-sizing:border-box;
	font-family: 'PT Sans', sans-serif;
}
.top-middle-section ul li:first-child{
	padding-left:0;
}
.top-middle-section ul li:last-child{
	padding-right:0;
}
.top-middle-section ul li a{
	color:#FFFFFF;
}
.top-middle-section ul li span{
	padding-right:5px;
}
.top-middle-section ul li:last-child{
	padding-right:0;
}
.top-last-section{
	float:right;
}
.top-last-section ul li{
  float: left;
	padding-right:32px;
}
.top-last-section ul li a{
	color:#FFFFFF;
	font-size:13px;
	font-family: 'PT Sans', sans-serif;
}
.top-last-section ul li a span{
	padding-left:8px;
}
.top-last-section ul li:last-child{
	padding-right:0;
}
.top-last-section ul li:last-child span{
	padding-left:0;
	padding-right:3px;
}
.top-last-section ul li.cart{
	position:relative;
}
.top-last-section ul li.cart:hover ul.sub-menu{
	display:block;
}
.top-last-section ul li.cart span.click_caret{
	position:relative;
	display:inline-block;
}
.top-last-section ul li.cart span.click_caret:after{
	content:'\f0d7';
	font-family:FontAwesome;
	position:absolute;
	width:2px;
	height:2px;
	top: -15px;
	right: -7px;
	cursor:pointer;
	color:#ffffff;
}
ul.sub-menu{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	width:276px;
	background:#ffffff;
	color:#ffffff;
	z-index:99;
	padding:15px 0 15px 20px;
	box-sizing:border-box;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}
ul.sub-menu li{
	line-height:40px;
	padding:0 !important;
	display:block !important;
}
ul.sub-menu span.click_caret:after{
	display:none;
}
.main-menu{
	background:#EAC930;
}
.navigattion-menu {
    float: left;
/* 	padding:21px 0;
 */}
 .navigattion-menu ul {
	 margin-bottom:0;
 }
.navigattion-menu ul li{
	display:inline-block;
	padding:20px 13.5px;
	position:relative;
}
.navigattion-menu ul li.menu-item-has-children:hover ul.sub-menu{
	display:block;
}
.navigattion-menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children{
	position:relative;
}
.navigattion-menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children ul.sub-menu{
	display:none;
	left: 200px;
	top:0;
}
.navigattion-menu ul li.menu-item-has-children ul.sub-menu li.menu-item-has-children:hover ul.sub-menu{
	display:block;
}
ul.sub-menu li a:hover{
	color:#EAC930;
}
.navigattion-menu ul li:first-child{
	padding-left: 0px;
}
.navigattion-menu ul li:last-child{
	padding-right:0;
}
.navigattion-menu ul li.current-menu-item a{
	font-weight:bold;
}
.navigattion-menu ul li a{
	color:#1B3A4E;
	font-size:19px;
    text-transform: capitalize;
	font-family: 'PT Sans', sans-serif;
}
.navigattion-menu ul li a:hover{
	font-weight:500;
	transition:all 0.4s ease-in-out;
	text-decoration:none;
}
.navigattion-menu .top-right-part{
	display:none;
}
#toggle-menu {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

#toggle-menu span {
    height: 3px;
    margin: 4px 0;
    background: #ffffff;
    display: block;
    transition: all 0.4s;
}

#toggle-menu.on span.one {
    transform: rotate(45deg) translate(4.5px, 2px);
    width: 16px;
    float: right;
    height: 4px;
}

#toggle-menu.on span.two {
    opacity: 0;
}

#toggle-menu.on span.three {
	transform: rotate(-45deg) translate(6px, -4px);
    width: 16px;
    float: right;
    height: 4px;
}
.top-search-part {
    float: right;
	height: 64px;
}
.top-search-part label{
	float:right;
	position:relative;
	margin-bottom: 0px;
}
.top-search-part label:after{
	content:'\f002';
	font-family: FontAwesome;
	position:absolute;
	width:5px;
	height:7px;
	right: 24px;
	top: 3px;
	color:#ffffff;
	cursor:pointer;
}
.top-search-part label input[type="text"]{
	background:#1B3A4E;
	width:196px;
	float:right;
	height:27px;
	border:none;
	outline:none;
	display:inline-block;
	padding:5px 35px 5px 5px;
	box-sizing:border-box;
	color:#ffffff;
}
.top-search-part label input[type="text"]:foucs{
	background:#1B3A4E;
}
.top-search-part label input[type="submit"]{
	opacity:0;
}
.top-search-part label:nth-child(2):after{
	content:'\f002';
	font-family: FontAwesome;
	position:absolute;
	width:10px;
	height:11px;
	right: 27px;
	top: -1px;
	color:#ffffff;
	cursor:pointer;
}
.top-search-part label input[type="text"]::-webkit-input-placeholder{
	color:#ffffff;
}
.top-search-part label input[type="text"]::-moz-placeholder{
	color:#ffffff;
}
.header.sticky{
	position:fixed;
	width:100%;
	z-index:99;
	left:0;
	top:0;
}
 /***************************************** banner style *****************************************/
.banner{
	width:100%;
	position:relative;
	z-index:9;
}
.slick-prev{
	left:0;
}
.slick-next{
	right:0;
}
.slick-initialized .slick-slide{
	outline:none;
}
.banner img{
	outline:none;
	border:none;
    max-width: 100%;
}
.banner-main-two-section{
	position:relative;
}
.banner-main-left-section{
	float:left;
}
.banner-right-content{
	float:right;
	position:absolute;
	max-width:355px;
	width:100%;
	right:0;
	top:50%;
	transform:translateY(-50%);
	margin-top:40px;
	color:#022E3D
}
.banner-right-content h3{
	font-size:60px;
	font-weight:bold;
	color:#022E3D;
}
.banner-right-content span{
	font-size:20px;
	text-decoration: line-through;
}
.banner-right-content p{
	font-size:18px;
}
.banner-right-content h4{
	font-size:25px;
	font-weight:bold;
	font-family: 'PT Sans', sans-serif;
    padding: 15px 0px 0px;
	color:#022E3D;
}

.banner .slick-prev{
	background:url('images/banner-left-arrow.png');
	width:21px;
	height:34px;
	background-size:cover;
	background-repeat:no-repeat;
	left:40px;
	z-index:9;
}
.banner .slick-next{
	background:url('images/banner-right-arrow.png');
	width:21px;
	height:34px;
	background-size:cover;
	background-repeat:no-repeat;
	right:40px;
	z-index:9;
}
.banner .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
	font-size:0;
}
.banner-img > img{
	height:637px;
    object-fit: cover;
}
.post-type-archive .banner-img > img {
	height:400px;
}
.banner-btn-section.btn-for-mob {
    text-align: center;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.banner-btn-section a.btn{
	border:2px solid #022E3D;
  padding: 0px;
	text-align:center;
	font-size:12px;
	display:inline-block;
	vertical-align:middle;
	border-radius:0;
	color:#022E3D;
	text-transform:uppercase;
	font-weight:bold;
	margin-right:17px;
	height: 45px;
	line-height: 45px;
	width: 170px;
}
.banner-btn-section {
    margin-top: 45px;
}
.post-type-archive .banner-btn-section a.btn{
	margin-right:7px;
}
.post-type-archive .banner-right-content{
	max-width:374px;
	margin-top:20px;
}
.banner-btn-section a.btn:last-child{
	margin-right: 0px;
}
.post-type-archive .banner-btn-section a.btn:last-child{
	margin-right:0;
}
.post-type-archive .banner .slick-dots {
    bottom: 0px;
    padding-bottom: 23px;
}
.banner-btn-section a.btn:hover{
	background:#022E3D;
	color:#ffffff;
	transition:all 0.3s ease-in-out;
}
.banner .slick-dots{
	bottom:-5px;
}
.banner .slick-dots li button:before{
	opacity:1;
	color:#022e3d;
	font-size: 50px;
}
.slick-dots li.slick-active button:before{
	opacity:1 !important;
	color:#EAC930 !important;
}
.banner .slick-dots li{
	margin:0;
	width: 16px;
    height: 16px;
}
.home .banner-right-content .banner-btn-section{
	display:none;
}
.post-type-archive .banner-btn-section.btn-for-mob{
	display:none;
}
.banner-img {
	position:relative;
}

.tax-product_cat .banner-img > img{
	height: 400px;
}

.banner-img > img{
	width:100%;
}
.banner_caption{
	position:absolute;
	left:0;
	right:0;
	top:40%;
	transform: translateY(-50%);
}
.full-image-slider .et_pb_slide {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.full-image-slider .et_pb_slide:first-child .et_pb_slide_image img.active {
 animation: unset !important;
}

.full-image-slider .et_pb_container {
  max-width: 100% !important;
  width: 100% !important;
  height: auto !important;
  min-height: 0 !important;
}

.full-image-slider .et_pb_slide_image img {
  max-height: none !important;
  width: 100% !important;
}

.full-image-slider .et_pb_slide_image {
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  position: relative !important;
  width: 100% !important;
  display: block !important;
    -webkit-animation-name: fade !important;
    -moz-animation-name: fade !important;
    -ms-animation-name: fade !important;
    -o-animation-name: fade !important;
    animation-name: fade !important;
}

.full-image-slider .et_pb_slider_container_inner {
  position: relative;
}

.full-image-slider .et_pb_slide_description {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right:  0 !important;
  padding: 0 !important;
  margin: 0 !important;
width: auto !important;
height: auto !important;
}

.full-image-slider .et_pb_slide_description .et_pb_button_wrapper,
.full-image-slider .et_pb_slide_description .et_pb_button_wrapper a,
.full-image-slider .et_pb_slide_description .et_pb_button_wrapper a:hover {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
 color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  background: none !important;
}

.et_pb_column.et_pb_slider_fullwidth_off.full-image-slider .et_pb_slide_description .et_pb_slide_title,
.et_pb_column.et_pb_slider_fullwidth_off.full-image-slider .et_pb_slide_description .et_pb_slide_content,
.full-image-slider .et_pb_slide_description .et_pb_slide_title,
.full-image-slider .et_pb_slide_description .et_pb_slide_content {
  display: none;
}

.et-pb-slider-arrows {
    color: #101010;
}

 /***************************************** content-area style *****************************************/
.et_pb_row {
    max-width: 1195px;
}
.entry-content ul.products li.product{
	background:#F6F6F6;
	padding:0 0 25px 0;
	text-align:center;
}
.entry-content ul.products li.product a{
	color:#022E3D;
}
.entry-content ul.products li.product h2.woocommerce-loop-product__title{
	color:#022E3D;
	font-size:21px;
	width: 100%;
	margin: 0 auto;
	line-height: normal;
	padding: 20px;
	font-family: 'PT Sans', sans-serif;
}

.tax-product_cat ul.products li.product span.onsale{
	font-size:0;
	background:url('images/sale.png') no-repeat !important;
	width:36px;
	height:51px;
	display:block !important;
	position:absolute;
	top:11px !important;
	right:10px !important;
    left: inherit !important;
}

.term-neu.tax-product_cat ul.products li.product span.onsale{
	left: 10px !important;
}

.entry-content .other_products_block ul.products li.product span.woocommerce-Price-amount{
	font-size:15px;
	padding-bottom:0;
}
.home .other_products_wrap  ul.products li.product span.price{
	text-align:left;
}
.home .entry-content ul.products li.product span.woocommerce-Price-amount{
	display:inline-block;
	text-align:left;
}
.entry-content ul.products li.product span.woocommerce-Price-amount{
	font-size:40px;
	color:#022E3D;
    display: block;
	font-weight: bold;
	line-height: normal;
}
a.cartbtn{
	background:#EAC930;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	padding:16px 21px;
	margin-right:16px;
	display: inline-block;
	vertical-align:middle;
}
a.cartbtn:hover{
	background: #022E3D;
    color: #ffffff !important;
    transition: all 0.3s ease-in-out;
}
a.morebtn{
	border:2px solid #022E3D;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	padding:16px 23px 16px 27px;
	display: inline-block;
	vertical-align:middle;
}
.recent_products_block a.cartbtn{
	padding:10px 32px;
}
.recent_products_block a.morebtn{
	padding:8px 23px 8px 27px;
}
a.morebtn:hover{
	background: #022E3D;
    color: #ffffff !important;
    transition: all 0.3s ease-in-out;
}
.post-type-archive .banner-main-left-section{
	width:65%;
}
.related.products ul.products li.product span.amount{
	color:#022E3D;
	padding-top:16px;
	display:block;
	font-weight:bold;
}
.related.products ul.products li.product span.price  span.woocommerce-Price-amount span.woocommerce-Price-amount{
	padding-top:0 !important;
}
.product .woocommerce-tabs{
	border:none !important;
}
.product_brief_content{
	display:none;
}
.recent_products_block .product_brief_content{
	display:block;
	margin-bottom: 20px;
}
.recent_products_block .product_brief_content p{
	font-size:16px;
	font-weight:bold;
	font-family: 'PT Sans', sans-serif;
	color:#3D3D3D;
	max-width:262px;
	width:100%;
	margin:0 auto;
	padding-bottom:19px;
	display:block;
}
.recent_products_block del{
	display:none !important;
}
span.neu_ribbon{
	display:none;

}

.single-product .product_cat-neu .clearfix .neu_ribbon{
	display: block;
}
.term-neu .product_cat-neu .neu_ribbon{
	display: block;
}

li.product_cat-neu .neu_ribbon{
	display: block;
	pointer-events: none;

}
.product_cat-neu .clearfix .neu_ribbon{
	color: #022E3D;
	font-size: 25px;
	font-weight: bold;
	display: block;
	top: 0px;
	position: absolute;
	right: 0px;
	z-index: 4;
	pointer-events: none;
}

.product_cat-neu .neu_ribbon{
	color: #022E3D;
	font-size: 25px;
	font-weight: bold;
	top: 1px;
	position: absolute;
	right: 1px;
	z-index: 9;
	cursor: pointer;
}

.product_cat-neu span.neu_ribbon svg{
	width: 98px;
}

.home .product_cat-neu span.neu_ribbon{
	color: #022E3D;
	font-size: 25px;
	font-weight: bold;
	display: block;
	top: 0px;
	position: absolute;
	right: 0px;
	z-index: 9;
	cursor: pointer;
}

/*.product_cat-neu span.neu_ribbon:after{*/
	/*content: '';*/
	/*background: url(images/triangle.png);*/
	/*width: 98px;*/
	/*height: 97px;*/
	/*position: absolute;*/
	/*top: 47px;*/
	/*right: -22px;*/
	/*z-index: -1;*/
	/*transform: rotate(315deg);*/
	/*margin-top: -52px;*/
/*}*/
ul.products li.product span.onsale{
	display:none;
}
.best_offer_block.et_pb_section.et_pb_section_2{
	padding: 0px;
	height: 400px;
	box-sizing: border-box;
}
.best_offer_block .et_pb_section .et_pb_text_align_left{
	margin-bottom:0;
}
.best_offer_block .et_pb_code_inner{
	padding-top: 90px;
	padding-left: 58px;
}

.best_offer_block .et_pb_text_inner h2{
	position: absolute;
	font-family: 'Poppins', sans-serif;
	color:#FFFFFF;
	font-size:40px;
	font-weight:600;
	color:#ffffff;
	text-transform:uppercase;
	left: 0px;
	margin-top: 33px;
}
.best_offer_block .et_pb_code_inner h3{
	font-size:60px;
	font-family: 'Poppins', sans-serif;
	font-weight:600;
	color:#022E3D;
	line-height: 55px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.best_offer_block .et_pb_code_inner h5{
	text-decoration:line-through;
	font-size:20px;
	color: #022E3D;
	padding-bottom:26px;
	margin-top: 0px;
}
.best_offer_block .et_pb_code_inner h4{
	font-weight:bold;
	color:#022E3D;
	font-size:25px;
	line-height: 20px;
	padding-bottom: 0px;
}
.best_offer_block .et_pb_code_inner h6{
	padding-bottom:34px;
	font-size:15px;
	color:#022E3D;
}
.best_offer_block .et_pb_row{
	padding:0;
}
.new_products_block  .et_pb_row{
	max-width:1172px;
	width:100%;
}
.best_offer_block .et_pb_code_inner a.warenbtn.cartbtn{
	padding:12px 30px;
	border: 2px solid #022E3D;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	font-weight:bold;
	color: #022E3D;
	margin-right:0;
	background:none;
}
.best_offer_block .et_pb_code_inner a.warenbtn.cartbtn:hover{
	background:#022E3D;
	color:#ffffff;
}
.best_offer_block .et_pb_code_inner a.morebtn{
	color:#022E3D;
	padding:12px 30px;
}
.best_offer_block .et_pb_code_inner a.morebtn:hover{
	color:#ffffff;
}
.other_products_block a.cartbtn{
	display:none;
}
.other_products_block a.morebtn{
	display:none;
}
.other_products_block ul.products.columns-5 li{
	margin:0 2.5% 2.992em 0;
	background:#EAC930;
	padding:0;
	width:18% !important;
}

.home .other_products_block ul.products.columns-5 li:nth-child(5n){
	margin-right:0 !important;
}

 .other_products_block ul.products.columns-5 li:nth-child(5){
	margin-right:0 !important;
}
.other_products_block ul.products.columns-5 li:last-child{
	margin-right:0;
}
.other_products_block ul.products.columns-5 li  span.price del{
	display:none;
}
.other_products_block ul.products.columns-5 li  h2.woocommerce-loop-product__title{
	font-size:12px;
	color:#022E3D;
	text-transform:uppercase;
	padding:18px 20px 0 20px;
	text-align: left;
}
.other_products_block ul.products.columns-5 li  span.price ins{
	display:block;
}
.other_products_block ul.products.columns-5 li  a img{
	height:100%;
	object-fit:cover;
	border: 1px solid #80969e;
}
.recent_products_block  ul li a img{
	height:100% !important;
	object-fit:cover;
}
.related.products ul li a.cartbtn{
	display:none;
}
.related.products ul.products li a.morebtn{
	display:none;
}
.related.products ul.products li.product{
	background:#EAC930;
	padding:0 0 23px 0;
	width:21%;
}
.related.products ul.products li h2.woocommerce-loop-product__title{
	font-size:12px !important;
	color:#022E3D;
	text-transform:uppercase;
	max-width:208px;
	margin:0;
	padding:26px 0 0 18px;
}
.related.products ul.products li span.price del{
	display:none;
}
.related.products ul.products li span.price ins{
	padding:0 18px;
}
.related.products ul.products li a span.et_shop_image img{
	height:100%;
	object-fit:cover;
}
.related.products ul li{
	margin-right:25px !important;
	width:23% !important;
}
.woocommerce-loop-product__title{
	text-transform: uppercase !important;
}
.woocommerce-tabs ul.tabs:before{
	border-bottom:none !important;
}
.woocommerce div.product form.cart .button{
	float: left !important;
	text-transform: inherit;
}

.woocommerce-page div.product form.cart{
	margin: 62px 0 39px!important;
}
.woocommerce table.shop_attributes tr th{
	display: block;
	width: 220px;
	border-bottom: 0px;
	float: left;
}

.woocommerce div.product form.cart div.quantity{
	margin-right: 30px !important;
}

.woocommerce table.shop_attributes tr td{
	border-bottom: 0px;
	width: calc(100% - 220px );
	float: left;
}

.woocommerce table.shop_attributes tr:nth-child(even), .woocommerce table.shop_attributes tr:nth-child(even){
	background: rgba(0,0,0,.025);
}

.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th{
	background: transparent;
}

.woocommerce table.shop_attributes tr{
	border-bottom: 0px;
	border-bottom: 1px dotted rgba(0,0,0,.1);
}
.single-product .woocommerce-tabs ul.tabs{
	background:none !important;
}
.single-product .woocommerce-tabs ul.tabs li.description_tab.active{
	background:#F2F2F2 !important;
}
body.single-product #content-area div.product .woocommerce-tabs ul.tabs li.active a, body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
	color:#022E3D !important;
	font-size:14px;
	padding:12px 21px !important;
	border: 1px solid #E7E7E7 !important;
    font-weight: normal !important;
}
body.single-product #content-area div.product .woocommerce-tabs ul.tabs li a{
	color:#022E3D !important;
	font-size:14px;
	padding:12px 21px !important;
	border: 1px solid #E7E7E7 !important;
	font-weight: normal !important;
}
.woocommerce .single-product .woocommerce-tabs ul.tabs li a{
	color: #022E3D !important;
	letter-spacing: 0.04em;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #E7E7E7;
}
.single-product .woocommerce-tabs .woocommerce-Tabs-panel {
	background:#F2F2F2;
	padding:30px 25px !important;
}
.single-product .woocommerce-tabs .woocommerce-Tabs-panel p{
	padding: 0px;
}

.single-product .woocommerce-tabs .woocommerce-Tabs-panel li{
	line-height: 1.5;
}
#left-area ul, .comment-content ul, .entry-content ul, body.et-pb-preview #main-content .container ul {
    padding: 0 0 1em 1em;
    margin-bottom: 0px;
}
.fluid-width-video-wrapper {
    margin-bottom: 2em;
}
.single-product .woocommerce-tabs .woocommerce-Tabs-panel p strong{
	padding-bottom:10px;
}
.woocommerce table.shop_attributes td {
    font-style: normal;
    font-weight: bold;
}
.single-product .entry-summary h3 span{
	color: #022E3D !important;
}

.single-product .sale .entry-summary h3 span{
	color: #ff0000 !important;
}
.single-product .entry-summary .shortdetail a img{
	margin-top: 23px;
}

.single-product .woocommerce-tabs .woocommerce-Tabs-panel div{
	padding-bottom: 0px !important;
}
.post-type-archive-product  a.cartbtn{
	display:none;
}
.post-type-archive-product  a.morebtn{
	display:none;
}
.post-type-archive-product ul.products li.product{
	background:#EAC930;
}
.post-type-archive-product ul.products li.product h2.woocommerce-loop-product__title{
	padding:11px 0 11px 0;
	font-size:12px;
	max-width:180px;
	line-height:normal;
	margin:0 auto;
}
.post-type-archive-product ul.products li.product span.et_shop_image img{
	height:100%;
	object-fit:cover;
}
.post-type-archive-product ul.products li.product span.price del{
	color:#022E3D !important;
	opacity:1;
	font-weight:normal;
}
.post-type-archive-product ul.products li.product span.price{
	font-size:15px;
	color:#022E3D !important;
	font-weight:bold;
	padding:0 22px 17px 22px;
	display: block;
}
#left-area{
	width:75%;
	padding-bottom:0;
	margin-bottom:30px;
}
#sidebar{
	width:25%;
}
.post-type-archive #sidebar{
	margin-top:144px;
}
.et_right_sidebar #left-area{
	padding-left:5.5%;
}
.post-type-archive #left-area{
	margin-top:72px;
}
.noUi-target{
	border-radius:none !important;
}
#sidebar .searchandfilter label{
	display:block;
	position:relative;
}
#sidebar .searchandfilter label select{
	background:#E6E6E6;
	border-radius:2px;
	border:none;
	color:#838383;
	font-size: 15px;
    font-weight: normal;
	height:40px;
}
#sidebar .searchandfilter label select option{
	color:#838383;
	font-size: 15px;
    font-weight: normal;
	height:40px;
}
#sidebar .searchandfilter label select:focus {
    outline: none;
}
#sidebar .nice-select{
	float:none;
	background:#E6E6E6;
	border-radius:2px;
}
#sidebar .searchandfilter h4{
	padding:0 0 18px 0;
	font-size:18px;
	color:#000000;
	font-family: 'Open Sans', sans-serif;
}
#sidebar .searchandfilter .meta-slider{
	margin:10px 0;
	height:4px;
}
#sidebar .searchandfilter .noUi-connect{
	background:#022E3D;
}
#sidebar .searchandfilter .noUi-handle{
	border:1px solid #00364D;
	border-color:#00364D;
	background:#00364D;
	box-shadow:none;
	width:21px;
	height:21px;
	top:-9px;
	position: relative;
}

#sidebar .searchandfilter .noUi-handle.noUi-handle-lower span{
	display: none;
}

#sidebar .searchandfilter .noUi-handle span{
	position: absolute;
	color: #022E3D;
	font-weight: 600;
	font-size: 15px;
	top: 30px;
	left: 50%;
	transform: translate(-50%);
}

#sidebar .searchandfilter .noUi-background{
	background:#c2c2c2;
	box-shadow:none;
}
#sidebar .searchandfilter .noUi-handle:after, .noUi-handle:before {
	background:#00364D;
}
.navigattion-menu .top-search-part{
	display:none;
}
.navigattion-menu ul li span.toggle-dropdown {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 18px;
    right: 0;
    cursor: pointer;
    display: none;
}
.navigattion-menu ul li span.toggle-dropdown:after {
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #213356;
}
#sidebar .searchandfilter input[type="submit"]{
	background:#022e3d;
	padding:10px 34px 10px 34px;
	color:#ffffff;
	border:none;
	letter-spacing:0.8px;
	font-size:12px;
	font-weight:bold;
}
#sidebar .noUi-target{
	border:none;
	background:#c2c2c2;
	box-shadow:none;
}
#sidebar .searchandfilter ul li{
	margin-left:0;
}
#sidebar .searchandfilter label.sf-label-radio{
	display:inline-block;
	color:#838383;
	font-size:15px;
	padding-left:0;
    font-weight: normal;
	font-family: 'Open Sans', sans-serif;
     cursor: pointer;
}
#sidebar .searchandfilter input[type="radio"]{
	display:none;
}
.post-type-archive .shop_breadcrumb ul li{
	display:inline-block;
	list-style:none;
	color:#022E3D;
	font-size:15px;
	padding:0 4px;
}
.post-type-archive .shop_breadcrumb {
    text-align: right;
}
.post-type-archive-product h1.woocommerce-products-header__title.page-title{
	position:absolute;
	left:0;
	top:72px;
	font-size:25px;
	font-weight:bold;
	text-transform:uppercase;
	color:#022E3D;
    font-family: 'PT Sans', sans-serif;
}
.tax-product_cat h1.woocommerce-products-header__title.page-title{
	left:0;
	top:-60px;
	font-size:25px;
	font-weight:bold;
	text-transform:uppercase;
	color:#022E3D;
    font-family: 'PT Sans', sans-serif;
	padding-bottom: 0px;
	margin: 0px;
}
.post-type-archive-product .shopbanner{
	height:530px;
}
.post-type-archive-product .shopbanner .banner-main-left-section{
	max-width: 680px;
}
.post-type-archive-product .shopbanner .banner-right-content{
	position:relative;
	top:0;
	transform:none;
	margin-top:60px;
}
.post-type-archive-product .shopbanner .banner-btn-section{
	display:none;
}
.post-type-archive-product .shopbanner .banner-right-content .banner-btn-section{
	display:block;
	padding-top:42px;
}
.post-type-archive-product .shopbanner .banner-right-content .banner-btn-section a.btn{
	padding:15px 22px;
}
.post-type-archive-product .shopbanner .banner-right-content .banner-btn-section a.btn:last-child{
	margin-right:0;
}
.single-product a.woocommerce-product-gallery__trigger{
	display:none;
}
.single-product span.onsale{
	display:none;
}
.single-product .entry-summary h1.entry-title{
	color:#022E3D;
	font-size:25px;
	font-weight:bold;
}
.single-product .entry-summary p.price del{
	opacity:1 !important;
	font-size:20px;
	color:#022E3D;
}
.single-product .entry-summary button.button[type="submit"]{
	padding:18px 60px !important;
	background:#00364d !important;
	color:#ffffff !important;
	font-size:20px !important;
	font-weight:bold !important;
	text-align:center !important;
	border-radius:0 !important;
	border: none;
	float:right !important;
}
.single-product .entry-summary button.button[type="submit"]:hover{
	padding:18px 60px !important;
}
.single-product .entry-summary .price{
	display:none;
}
.single-product .entry-summary .quantity{
	width:185px !important;
	position:relative;
	border-radius:0 !important;
}
.single-product .entry-summary button[type="submit"]:hover{
	padding:18px 86px;
}
.single-product .entry-summary input[type="button"]{
	width:62px !important;
	height:71px !important;
	line-height:71px !important;
	background:#EFEFEF !important;
	font-size: 20px !important;
    font-family: 'Poppins', sans-serif !important;
	color:#00364D !important;
    font-weight: 500 !important;
}
.single-product .entry-summary input[type="button"].minus{
	position:absolute;
	left:0;
}
.single-product .entry-summary input[type="button"].plus{
	position:absolute;
	right:0;
}
.single-product .entry-summary input[type="number"]{
	width: 64px;
	height: 71px!important;
	background:none !important;
	color:#00364D !important;
	border:1px solid #D9D9D9 !important;
	position:relative;
	right:-60px;
	-webkit-appearance: textfield;
}
.single-product  iframe{
	width:100% !important;
}
.single-product .wts_control_nav .flex-direction-nav a{
	width:30px;
	height:115px;
	top:20px;
	border-radius:0;
	background:#838383;
	opacity:1;
}
.single-product .wts_control_nav .flex-direction-nav a.flex-prev{
	left:0;
	opacity: 1 !important;
    z-index: 1;
}
.single-product .wts_control_nav .flex-direction-nav a.flex-prev:before{
	left:6px;
}
.single-product .wts_control_nav .flex-direction-nav a.flex-prev:after{
	left:6px;
}
.single-product .wts_control_nav .flex-direction-nav a.flex-next{
	right:0;
}
.single-product .wts_control_nav .flex-direction-nav a:before{
	top:50px;
	right:6px;
}
.single-product .wts_control_nav .flex-direction-nav a:after{
	top:60px;
	right:6px;
}
.single-product .wts_control_nav .flex-direction-nav a:hover{
	opacity:1;
}
.single-product .wts_control_nav{
	margin-top:20px;
}
.single-product .content-area{
	margin-top:41px;
}
nav.woocommerce-pagination ul {
    border-right: 1px solid transparent !important;
}
nav.woocommerce-pagination ul{
	border:none !important;
}
nav.woocommerce-pagination ul li {
	border:none !important;
	height:36px;
}
 nav.woocommerce-pagination ul li a{
	background:#C4C4C4;
	border-radius:2px;
	width: 42px;
	height: 36px;
	line-height:24px !important;
	padding:0;
	color:#ffffff;
	margin:0 3px !important;
}
 nav.woocommerce-pagination ul li span.dots{
	 display:none;
 }
  /*nav.woocommerce-pagination ul li:nth-last-of-type(2){*/
	  /*display:none !important;*/
  /*}*/
 nav.woocommerce-pagination ul li a:hover{
	background:#022E3D;
	transition:all 0.3s ease-in-out;
}
 nav.woocommerce-pagination ul li span.current  {
	background:#022E3D !important;
	border-radius:2px;
	width: 42px;
	height: 36px;
	line-height:36px;
	padding:0;
	color:#ffffff !important;
}
.home .tinv-wraper.tinv-wishlist{
	display:none;
}
.banner .container{
	max-width: 1230px;
	width: 100%;
}
.single-product .brief_Detail{
	padding-top:21px;
}
.single-product .brief_Detail .col6 {
    float: left;
}
.single-product .brief_Detail .col6 ul li{
	list-style:none;
}
.single-product .brief_Detail .col6 ul li a span{
	display:inline-block;
	vertical-align:middle;
}
.single-product .brief_Detail .col6 p{
	color:#022E3D;
	font-size:15px;
	padding-bottom:0;
}
.single-product .brief_Detail .col6 ul {
	padding:0 0 23px 32px !important;
}
.single-product .brief_Detail .col6 ul li{
	line-height:24px;
}
.single-product .brief_Detail .col6 ul li a{
	color:#022E3D;
	letter-spacing:0.5px;
}
.single-product .brief_Detail .col6 ul li a img{
	display:inline-block;
	vertical-align:middle;
}
.single-product .brief_Detail .col6.col6_2{
	margin-left:50px;
	display:none;
}
.single-product .entry-summary .product_meta{
	display:none;
}
.single-product .entry-summary form.cart{
	margin:24px 0 0 !important;
}
.single-product .entry-summary .woocommerce-product-details__short-description{
	margin:0 0 20px 0;
}
.single-product .entry-summary h5.shortdetail{
	display: none;
}
.single-product .entry-summary p.stock.in-stock{
	display:none;
}
.single-product .entry-summary h3{
	color:#FF0000;
	font-size:35px;
	font-weight:bold;
	padding-bottom: 0px;
}
.single-product .entry-summary h4{
	color:#022E3D;
	font-weight:normal;
	font-size:20px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}
.home .new_products_block h3{
	 color:#022E3D;
	 font-size:25px;
	 font-weight:bold;
	 padding:0;
	 display:none;
	 text-transform: uppercase;
	 margin-bottom: 40px;
}
.single-product .entry-summary span{
    color: #022E3D;
    font-size: 15px;
}
.single-product .entry-summary .price_container span{
	font-weight:bold;
	font-size:35px;
}
.entry-summary .woocommerce_de_versandkosten{
	color:#022E3D;
	font-size:20px;
    line-height: 23px;
    margin-bottom: 10px;
}
.post-type-archive-product #sidebar{
    border-right:3px solid #C4C4C4;
}
.post-type-archive-product #left-area {
	float: right;
    padding-right: 5.5%;
}
.single-product .flex-viewport figure.woocommerce-product-gallery__wrapper img{
	object-fit: contain;
}
.woocommerce-Reviews form.input[type="email"] {
	background:#ffffff;
}
.post-type-archive-product span.et_shop_image{
	border: 1px solid #e5e5e5;
}
.related.products ul.columns-3 span.et_shop_image{
	border: 1px solid #e5e5e5;
}

.product-type-simple ul.slides  li{
	border: 1px solid #C4C4C4;
	margin-right:0 !important;
	padding:8px;
}
.product-template-default .brief_Detail.clearfix{
	display: none;
}

.product-template-default .summary.entry-summary .woocommerce-product-details__short-description{
	color: #022E3D;
	font-size: 15px;
	padding-bottom: 15px;
	padding-top: 10px;
}
.anrsku {
    font-size: 12px;
    margin-top: -10px;
}
.product-template-default .stock.out-of-stock{
	display:none;
}

.product-template-default .wgm-info.wgm-extra-costs-eu{
	width: 100%;
	overflow: hidden;
}

.product-template-default .wgm-info.woocommerce-de_price_taxrate {
	width: auto;
	float: left;
	line-height: 29px;
	padding-right: 10px;
	font-size: 15px;
}

.product-template-default .entry-summary .wgm-info.woocommerce_de_versandkosten{
	width: auto;
	line-height: 29px;
	font-size: 85% !important;
	color: #022E3D;
	margin-bottom: 0px;
	font-size: 15px !important;
}

.product-template-default .entry-summary .wgm-info.woocommerce_de_versandkosten a{
	color: #333333;
}

.product-template-default .brief_Detail.clearfix{
	display: block !important;
	padding-top: 0px;
}

.product-template-default .brief_Detail.clearfix p{
	margin-bottom: 0px;
	line-height: 29px;
}

.shipping_de.shipping_de_string{
	margin-bottom: 0px;
}

.header .col-lg-offset-2{
	margin-left: 184px;
}

.alert_container .subscribe_for_interest_text {
	font-size: 15px;
}

.alert_container{
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}

.alert_container .stock_alert_email{
	height: 40px;
	float: left;
}

.alert_container .stock_alert_button{
	height: 40px;
	float: left;
	width: 100px;
	text-transform: capitalize;
	font-weight: 600;
}

.product_brief_content img{
	display: none !important;
}

.other_products_block ul.products.columns-5 li span.price ins{
	display: inline-block;
}

.home .recent_products_block .product_brief_content p{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.home .recent_products_block .et_shop_image{
	max-height: 300px;
}

.home .best_offer_block .et_pb_code_0{
	width: 100%;
}

.wgm-info.shipping_de.shipping_de_string span{
	font-weight: 600;
	position: relative;
}

.wgm-info.shipping_de.shipping_de_string .title{
	position: absolute;
	width: 78px;
	background: #fff;
	font-weight: 400;
	padding-left: 10px;
}

 /***************************************** footer style *****************************************/
.bottom-section{
	background:#101010;
	padding:65px 0px 0px;

}
.footer-left-section h4{
	color:#FFFFFF;
	font-size:18px;
	line-height:29px;
	text-transform:uppercase;
	margin-top: 0px;
}
.footer-left-section ul li{
	line-height:29px;
}
.footer-left-section ul li a{
	color:#ffffff;
	font-size:18px;
    font-family: 'PT Sans', sans-serif;
}
.footer-left-section ul li a:hover{
	color:#EAC930;
}
.footer-middle-section ul li{
	line-height:29px;
}
.footer-logo-section ul li{
	display:inline-block;
}
.footer-logo-section {
    max-width: 178px;
    width: 100%;
    margin: 0 auto;
	float: left;
}
.footer-logo-section ul li{
	width:50%;
	float:left;
	padding-right:3px;
	box-sizing:border-box;
	padding-bottom:3px;
	display:block;
}

.footer-logo-section ul{
	display: flex;
	flex-wrap: wrap;
}

.footer-logo-section ul li:last-child{
	width: 100%;
}

.footer-right-section ul{
	text-align: center;
}

.footer-right-section ul li{
	display: inline-block;
    margin-bottom: 15px;
    padding-right: 6px;
}
.footer-logo-section ul li a img{
	max-width:inherit;
	width: 100%;
}
.parah-section{
	padding-top:47px;
	border-bottom:3px solid #2B2B2B;
	padding-bottom:10px;
}
.parah-section p{
	font-size:10px;
	color:#FFFFFF;
}
.copyright-section{
	padding:27px 0 32px 0;
	text-align:center;
}
.copyright-section p{
	color:#3D3D3D;
	font-size:13px;
}

 /***************************************** woocommerce style *****************************************/
.woocommerce-cart table.cart td.actions .coupon .input-text {
  width: 200px;
}
.woocommerce-tabs a {
    text-decoration: underline;
}
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
  height: 45px;
  border-radius: 0px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    position: relative !important;
}
.showcoupon {
    text-decoration: underline;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
    margin-bottom: 30px;
}
.woocommerce table.shop_attributes tr td {
    font-weight: normal;
}

 /***************************************** button style *****************************************/
.et_button_no_icon.woocommerce-page button.button,
.et_button_no_icon.woocommerce-page button.button:hover,
.et_button_no_icon.woocommerce-page a.button,
.et_button_no_icon.woocommerce-page a.button.alt,
.et_button_no_icon.woocommerce-page a.button.alt:hover,
.et_button_no_icon.woocommerce-page a.button:hover,
.woocommerce-page.et_pb_button_helper_class button.button {
  padding: 10px 20px !important;
}
.quantity.buttons_added {
	width:auto !important;
}
.quantity.buttons_added input[type="number"]{
	width: 64px !important;
  height: 71px !important;
  background: none !important;
  color: #00364D !important;
  border: 1px solid #D9D9D9 !important;
  position: relative;
  font-size: 20px !important;
	font-family: 'Poppins', sans-serif !important;
  right: -60px;
  font-weight: 500 !important;
  -webkit-appearance: textfield;
	padding-left: 17px;
}
.woocommerce-cart #left-area{
	border-left:none;
}
.quantity.buttons_added input[type="button"]{
	height:71px !important;
	-webkit-appearance:textfield;
}
.home article.page { margin-top:0;}
.tax-product_cat .content-area{
	margin-top: 0px;
}
.tax-product_cat ul.products li{
    background: #EAC930;
}
.tax-product_cat ul.products li a{
	display:block;
}
.tax-product_cat a.cartbtn{
	display:none !important;
}
.tax-product_cat a.morebtn{
	display:none !important;
}
.tax-product_cat ul.products li  h2{
	padding:8px 22px 0px 22px !important;
    font-size: 12px;
    max-width: 216px;
    line-height: normal;
    margin: 0 auto;
	min-height: 62px;
}
.tax-product_cat ul.products li.product span.price{
	padding:0 22px 12px 22px !important;
	color: #022E3D !important;
    font-weight: bold;
}
.tax-product_cat ul.products li.product span.price del{
    color: #022E3D !important;
    font-weight: bold;
}
.tax-product_cat ul.products li.product span.price del{
    color: #022E3D !important;
    font-weight: normal;
	opacity:1;
}
.tax-product_cat ul.products li.product span.price del span.woocommerce-Price-amount{
    color: #022E3D !important;
    font-weight: normal;
	opacity:1;
}
.tax-product_cat span.et_shop_image {
    border: 1px solid #e5e5e5;
}
.tax-product_cat ul li.product span.et_shop_image img{
	margin:0 0 0!important;
}
.woocommerce-message a.button.wc-forward{
	color:#ffffff !important;
}
.woocommerce-cart .quantity.buttons_added input[type="number"]{
	right:0;
}
.woocommerce-cart input[type="submit"]{
	height:43px;
}
.woocommerce-cart input[type="text"]{
	width:100%;
	padding:9px;
	color:#022e3d;
	border:1px solid #022e3d;
}
.woocommerce-cart::-webkit-input-placeholder {
	color:#022e3d;
}
.woocommerce-cart:-moz-placeholder {
	color:#022e3d;
}
.woocommerce-cart::-moz-placeholder {
	color:#022e3d;
}
.woocommerce-checkout input[type="checkbox"]{
	position:relative;
	margin:0;
}
.form-submit input[type="submit"]{
	color:#ffffff !important;
}
.search #content-area{
	padding-top:20px;
}
.single-product .woocommerce-breadcrumb{
	display:none;
}
#sidebar .searchandfilter input:checked + label.sf-label-radio {
	color:#838383;

}
.woocommerce-breadcrumb {
	font-size:15px !important;
	color: #022E3D !important;
	text-transform:capitalize !important;
	font-weight:bold;
    text-align: right;
}
.woocommerce-breadcrumb a{
	font-weight:normal;
	color: #022E3D !important;
}
.tax-product_cat ul.columns-4.products li a span.et_shop_image img{
	height:100% !important;
	object-fit:cover;
	position: absolute;
    top: 0px;
    left: 0px;
}

.search ul.products li h2 {
    padding: 10px 20px !important;
    font-size: 16px;
    max-width: 216px;
       line-height: 21px;
   width: 100%;
    max-width: 100%;
}

.search span.et_shop_image {
    border: 1px solid #e5e5e5;
}
.search ul.products li a {
    display: block;
}

.search ul.columns-4.products li a span.et_shop_image img {
    height: 100% !important;
    object-fit: cover;
}

.search ul li.product span.et_shop_image img {
    margin: 0 0 0!important;
}
.search ul.products li {
    background: #EAC930;
}

.search.et_left_sidebar #left-area{
    float: left !important;
    width: 100% !important;
    padding: 0
}

.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product,
.search.et_pb_gutters3.et_right_sidebar.woocommerce-page ul.products li.product{
    width: calc(24% - 16px);
    margin: 0px 0 20px;
    float: none;
    display:inline-block;
    vertical-align:top;
}


.search .pagination{
     display:block;
     text-align:center
}
.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product{
	margin: 0 10px 20px
}

.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product:nth-child(4n+4){
	margin-right: 0
}

.search.et_pb_gutters3.et_left_sidebar.woocommerce-page ul.products li.product:nth-child(4n+1){
	margin-left: 0
}

.search .pagination .alignleft{
    float:none
}
.wp-pagenavi{
    text-align:center
}
.wp-pagenavi .current{
     background: #022E3D !important;
    border-radius: 2px;
    width: 42px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    color: #ffffff !important;
    display: inline-block;
}
.wp-pagenavi a{
   background: #C4C4C4;
    border-radius: 2px;
    width: 42px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    color: #ffffff !important;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    text-decoration:none !important
}

.wp-pagenavi a:hover{
        background: #ebe9eb;
    color: #8a7e88;
}


/*MJ*/
.navigattion-menu ul li {
    display: inline-block;
    padding: 22px 10px;
    position: relative;
}

.top-search-part {
	display: flex;
    flex-wrap: wrap;
    height: 65px;
    align-items: center;
}
.top-part {
    background: #1B3A4E;
    padding: 5px 0px;
}
.breadcrumb-heading{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
}

.breadcrumb-heading .woocommerce-breadcrumb{
	margin-bottom: 0px;
}

.single-product #left-area{
	border-left:none;
}
.et_left_sidebar #main-content .container:before{
	display:none !important;
}
.et_right_sidebar #main-content .container:before{
	display:none;
}
#left-area h2{
	font-family: 'PT Sans', sans-serif;
	color: #022E3D;
}
.top-middle-section ul li {
    font-size: 12px;
	font-weight: 400;
}

.top-last-section ul li a {
    font-size: 12px;
}

.navigattion-menu ul li a {
    font-size: 15px;
}


.header .col-lg-10 {
    width: calc(100% - 184px);
    float: right;
    padding-left: 0px;
}

.top-search-part label input[type="text"] {
    width: 196px !important;
}

.new_products_block .et_pb_row {
    max-width: 1230px;
  	padding: 0px 15px;
    margin: 0px auto 36px;
}

.et_pb_gutters3 .et_pb_column_4_4 .et_pb_module {
	margin-bottom: 0;
}

.home .entry-content ul.products li.product span.price {
	padding-top: 10px;
  padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

.entry-content ul.products li.product h2.woocommerce-loop-product__title {
    padding-bottom: 0;
}

.recent_products_block a.cartbtn {
    padding: 10px 0px;
    width: 170px;
}

.entry-content ul.products li.product a {
    width: 150px;
}

.recent_products_block a.morebtn {
    padding: 8px 0px;
}

.best_offer_block .et_pb_code_inner a.warenbtn.cartbtn {
    padding: 12px 0px;
    width: 170px;
	margin-right: 12px;
}

.best_offer_block .et_pb_code_inner a.morebtn {
    padding: 12px 0px;
}

a.morebtn {
    width: 185px;
}

.best_offer_block .et_pb_code_inner h5 {
    padding-bottom: 5px;
}

.best_offer_block .et_pb_code_inner h5 {
    font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	line-height: 26px;
}

.best_offer_block .et_pb_code_inner h4 {
    font-family: 'PT Sans', sans-serif;
}

.best_offer_block .et_pb_code_inner h6 {
    font-family: 'PT Sans', sans-serif;
	margin-bottom: 0px;
}


.banner-btn-section a.btn {
	font-family: 'PT Sans', sans-serif;
	line-height: 45px !important;
}

.banner .slick-dots {
    bottom: 0;
}
/* banner img Homepage */

#main-content .banner-img .container{
	padding-top: 0px;
}

.banner .slick-dots{
	padding-bottom: 50px;
}

#Bestoffer-banner{
	width: 100%;
	max-width: 1300px;
}

.best_offer_block #Bestoffer-banner .et_pb_column_3_5{
	width: 58.8%;
	margin-right: 4.5%;
}

.best_offer_block #Bestoffer-banner .et_pb_column_3_5 .et_pb_module{
	margin: 0px;
}

.product .et_shop_image{
/* 	max-height: 190px; */
	position: relative;
    padding-bottom: 80%;
}

.wts_control_nav .slides>li{
	opacity: 1;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	margin-bottom: 25px;
}

#left-area ul.products{
	margin-bottom: 5px;
}

.tax-product_cat .woocommerce-products-header h2, .tax-product_cat .woocommerce-result-count, .tax-product_cat .woocommerce-ordering{
	display: none;
}


.sf-field-taxonomy-product_cat .sf-count{
	display: none;
}

.main-menu .row, .top-part .row{
	margin: 0px;
}

.searchandfilter ul li ul li{
	margin-bottom: 0px;
}

.tax-product_cat .searchandfilter ul li:first-child{
	padding-top: 0px !important;
}

.other_products_wrap, .other_products_wrap .et_pb_row, .other_products_wrap .et_pb_row ul{
	padding-bottom: 0px !important;
	margin-bottom: 0px;
}

.tax-product_cat #content-area{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.tax-product_cat #content-area #sidebar{
	order: 2;
}

.tax-product_cat #content-area #left-area{
	order: 3;
}

.tax-product_cat #content-area .breadcrumb-heading{
	order: 1;
	width: 100%;
}

.top-search-part {
    display: flex;
    align-items: center;
}

.searchandfilter ul li .meta-slider .left-bg-min{
	position: absolute;
    top: 16px;
    left: -5px;
	font-size: 12px;
    color: #000;
}

.searchandfilter ul li .meta-slider .right-bg-max{
	position: absolute;
    top: 16px;
    right: 0px;
	font-size: 12px;
    color: #000;
}

#sidebar .searchandfilter ul .sf-field-post-meta-wingspan, #sidebar .searchandfilter ul .sf-field-post-meta-torque_category{
	margin-bottom: 45px !important;
}

#sidebar .searchandfilter ul li label input, #sidebar .searchandfilter ul li .sf-range-values-seperator , #sidebar .searchandfilter ul li .sf-range-prefix{
	display: none;
}

footer .bottom-section .container{
	max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row-copyright-section{
	width: 100%;
}

.bottom-section .footer-infor{
	width: 100%;
}

.copyright-section p{
	margin-bottom: 0px;
}

.footer-infor .parah-section p{
	margin-bottom: 0px;
}

.bottom-section .item-link-footer{
	width: 100%;
}

.tax-product_cat .banner-main-left-section{
	width: 60%;
    padding-left: 50px;
}

.tax-product_cat .banner_caption{
	top: 0;
	transform: unset;
}

.tax-product_cat .banner-right-content{
	max-width: 390px;
}

.tax-product_cat .banner-right-content h3{
	padding: 0px;
	margin-bottom:0px;
}

.tax-product_cat .banner-right-content{
	margin-top: 0px;
	right: 20px;
}

.tax-product_cat .banner-btn-section{
	margin-top: 30px;
}

.banner-slider .slick-dots{
	padding-left: 0px;
}

.tax-product_cat .banner-slider .slick-dots{
	padding-bottom: 23px;
}

#sidebar .searchandfilter>ul>li:nth-child(2){
	margin-bottom: 30px;
}

#sidebar .searchandfilter>ul>li:nth-child(1){
	margin-bottom: 35px;
}

.searchandfilter ul .sf-field-taxonomy-product_cat li{
	padding: 7px 0px;
}

.post-type-archive-product .content-area .banner:nth-child(1){
	display: none;
}

.textwidget .facetwp-facet{
	position: relative;
	margin-top: 7px;
}

.facetwp-counter {padding-left: 5px; font-weight: lighter;}

.textwidget .facetwp-facet.facetwp-type-dropdown:before{
	content: "";
    position: absolute;
    width: 18px;
    height: 24px;
    background: #e1e1e1;
    z-index: 8;
    top: 2px;
    right: 2px;
	pointer-events: none;
}

.textwidget .facetwp-facet.facetwp-type-dropdown:after{
	content: "\f078";
    font-family: FontAwesome;
    color: #565656;
    font-size: 10px;
    position: absolute;
	top: 6px;
    right: 4.5px;
	z-index: 9;
	pointer-events: none;
}

.textwidget .facetwp-facet select{
	border: 2px solid #dadada;
	position: relative;
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	text-transform: capitalize;
}

.facetwp-facet .noUi-base .noUi-handle{
	background: #00364D;
    border: 0px;
    box-shadow: unset;
    border-radius: 50%;
    width: 21px;
    height: 21px;
}

.facetwp-facet .noUi-base .noUi-handle:after{
	display: none;
}

#sidebar .facetwp-facet .noUi-target{
	background: #c2c2c2;
	height: 4px;
}

.facetwp-facet .noUi-base .noUi-connect{
	background: #022E3D;
    box-shadow: unset;
}

.facetwp-facet .noUi-horizontal .noUi-handle{
	top: -9px;
}

.textwidget .facetwp-type-slider{
	margin-top: 20px;
	margin-bottom: 55px !important;
}

.textwidget .facetwp-type-slider .facetwp-slider-label{
	display: none;
}

.textwidget .facetwp-type-slider .max-facetwp{
	position: absolute;
	right: 0px;
	top: 15px;
	font-size: 12px;
	color: #022E3D;
}

.textwidget .facetwp-type-slider .min-facetwp{
	position: absolute;
	left: 0px;
	top: 15px;
	font-size: 12px;
	color: #022E3D;
}

.textwidget .facetwp-type-slider .facetwp-slider-reset{
	margin-top: 30px;
}

.textwidget .facetwp-type-slider .noUi-handle .noUi-touch-area{
	position: absolute;
	top: 32px;
	width: auto;
	left: 50%;
	transform: translate(-50%);
	font-size: 13px;
	font-weight: 600;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
	background-color: #022E3D;
	padding: 2px 5px;
	border-radius: 4px;
}

/*.textwidget .facetwp-type-slider .noUi-handle-lower .noUi-touch-area {*/
	/*display: none;*/
/*}*/

.product .et_shop_image img{
	position: absolute;
}

#sidebar .textwidget strong{
	font-size: 16px;
	font-weight: 500;
	display: none;
}

#sidebar .facetwp-facet{
	display: none;
}

.wrapper .banner{
	display: none;
}

#sidebar .facetwp-facet{
	margin-bottom: 45px;
}
#sidebar .facetwp-facet-kategorie{
	margin-bottom: 65px;
}

body.search #left-area{
	border-left: 0px;
}

/*.other_products_block ul.products.columns-5 li:nth-child(5n){*/
	/*margin-right: 0;*/
/*}*/

.facetwp-toggle {
    display: none;
}

/* filter for category */

.facetwp-facet-kategorie {display: none;}
#sidebar .textwidget p:first-child {display: none;}
.facetwp-checkbox {display: none;}

/* switcher for category BEGIN */

.term-bestoffer .facetwp-facet-kategorie {display: none !important;}
.term-neu .facetwp-facet-kategorie {display: none !important;}

/* flugmodelle */

.term-flugmodelle .facetwp-facet-kategorie {display: inherit;}
.term-flugmodelle #sidebar .textwidget p:first-child {display: inherit;}

.term-flugmodelle .facetwp-checkbox[data-value="einstieg-experimental"] {display: inherit;}
.term-flugmodelle .facetwp-checkbox[data-value="elektro-segler"] {display: inherit;}
.term-flugmodelle .facetwp-checkbox[data-value="ersatzteile-flugmodelle"] {display: inherit;}
.term-flugmodelle .facetwp-checkbox[data-value="fpv"] {display: inherit;}
.term-flugmodelle .facetwp-checkbox[data-value="freiflug"] {display: inherit;}
.term-flugmodelle .facetwp-checkbox[data-value="jet-modelle-edf"] {display: inherit;}
.term-flugmodelle .facetwp-checkbox[data-value="motorflug-modelle"] {display: inherit;}
.term-flugmodelle .facetwp-checkbox[data-value="segler"] {display: inherit;}
.term-flugmodelle .facetwp-checkbox[data-value="zubehoer-flugmodelle"] {display: inherit;}

/* antrieb */

.term-antrieb .facetwp-facet-kategorie {display: inherit;}
.term-antrieb  #sidebar .textwidget p:first-child {display: inherit;}

.term-antrieb .facetwp-checkbox[data-value="brushless-motore"] {display: inherit;}
.term-antrieb .facetwp-checkbox[data-value="brushless-regler"] {display: inherit;}
.term-antrieb .facetwp-checkbox[data-value="ersatzteile-antrieb"] {display: inherit;}
.term-antrieb .facetwp-checkbox[data-value="impeller-edf"] {display: inherit;}
.term-antrieb .facetwp-checkbox[data-value="luftschrauben"] {display: inherit;}
.term-antrieb .facetwp-checkbox[data-value="mitnehmer-spinner"] {display: inherit;}
.term-antrieb .facetwp-checkbox[data-value="zubehoer-antrieb"] {display: inherit;}
.term-antrieb .facetwp-checkbox[data-value="antriebssets"] {display: inherit;}

/* akkus-ladeger */

.term-akkus-ladeger .facetwp-facet-kategorie {display: inherit;}
.term-akkus-ladeger  #sidebar .textwidget p:first-child {display: inherit;}

.term-akkus-ladeger .facetwp-checkbox[data-value="balancer-messgeraete"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="batterien"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="empfaenger-akkus"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="ladegeraete"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="li-ion"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="life"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="lipo"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="netzgeraete"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="nicd"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="nimh"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="safe"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="sender-akkus"] {display: inherit;}
.term-akkus-ladeger .facetwp-checkbox[data-value="zubehoer-akkus-ladegeraete"] {display: inherit;}

/* rc */

.term-rc .facetwp-facet-kategorie {display: inherit;}
.term-rc #sidebar .textwidget p:first-child {display: inherit;}

.term-rc .facetwp-checkbox[data-value="gyros"] {display: inherit;}
.term-rc .facetwp-checkbox[data-value="bec-systeme"] {display: inherit;}
.term-rc .facetwp-checkbox[data-value="datenlogger"] {display: inherit;}
.term-rc .facetwp-checkbox[data-value="empfaenger"] {display: inherit;}
.term-rc .facetwp-checkbox[data-value="fernsteuerungen"] {display: inherit;}
.term-rc .facetwp-checkbox[data-value="schalter-elektr-magn"] {display: inherit;}
.term-rc .facetwp-checkbox[data-value="telemetrie"] {display: inherit;}
.term-rc .facetwp-checkbox[data-value="zubehoer-rc"] {display: inherit;}

/* servos */

.term-servos .facetwp-facet-kategorie {display: inherit;}
.term-servos #sidebar .textwidget p:first-child {display: inherit;}

.term-servos .facetwp-checkbox[data-value="analoge-servos"] {display: inherit;}
.term-servos .facetwp-checkbox[data-value="digital-servos"] {display: inherit;}
.term-servos .facetwp-checkbox[data-value="ersatzteile-servos"] {display: inherit;}
.term-servos .facetwp-checkbox[data-value="servohebel"] {display: inherit;}
.term-servos .facetwp-checkbox[data-value="servorahmen"] {display: inherit;}
.term-servos .facetwp-checkbox[data-value="zubehoer-servos"] {display: inherit;}

/* zubehoer */

.term-zubehoer .facetwp-facet-kategorie {display: inherit;}
.term-zubehoer #sidebar .textwidget p:first-child {display: inherit;}

.term-zubehoer .facetwp-checkbox[data-value="anlenkung"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="fahrwerke-raeder"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="kabel-stecker"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="kataloge"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="beleuchtung"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="farben-lacke"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="folien"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="gutscheine-werbeartikel"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="hochstart-f-schlepp"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="klebstoffe-zubehoer"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="landeklappen"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="schrauben-befestigung"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="schrumpfschlaeuche"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="werkstoffe-div-materialien"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="werkzeuge-hilfsmittel"] {display: inherit;}
.term-zubehoer .facetwp-checkbox[data-value="zubehoer-allgemein"] {display: inherit;}

/* anlenkung */

.term-anlenkung .facetwp-facet-kategorie {display: inherit;}
.term-anlenkung #sidebar .textwidget p:first-child {display: inherit;}

.term-anlenkung .facetwp-checkbox[data-value="bowdenzuege-gewindestangen"] {display: inherit;}
.term-anlenkung .facetwp-checkbox[data-value="gabelkoepfe-kugelgelenke-loethuelsen"] {display: inherit;}
.term-anlenkung .facetwp-checkbox[data-value="ruderhoerner"] {display: inherit;}
.term-anlenkung .facetwp-checkbox[data-value="scharniere"] {display: inherit;}

/* term-fahrwerke-raeder */

.term-fahrwerke-raeder .facetwp-facet-kategorie {display: inherit;}
.term-fahrwerke-raeder  #sidebar .textwidget p:first-child {display: inherit;}

.term-fahrwerke-raeder .facetwp-checkbox[data-value="einziehfahrwerke"] {display: inherit;}
.term-fahrwerke-raeder .facetwp-checkbox[data-value="raeder"] {display: inherit;}
.term-fahrwerke-raeder .facetwp-checkbox[data-value="fahrwerke"] {display: inherit;}
.term-fahrwerke-raeder .facetwp-checkbox[data-value="zubehoer-fahrwerke-raeder"] {display: inherit;}

/* term-kabel-stecker */

.term-kabel-stecker .facetwp-facet-kategorie {display: inherit;}
.term-kabel-stecker  #sidebar .textwidget p:first-child {display: inherit;}

.term-kabel-stecker .facetwp-checkbox[data-value="balancerkabel"] {display: inherit;}
.term-kabel-stecker .facetwp-checkbox[data-value="ladekabel"] {display: inherit;}
.term-kabel-stecker .facetwp-checkbox[data-value="schalterkabel"] {display: inherit;}
.term-kabel-stecker .facetwp-checkbox[data-value="servokabel-stecker"] {display: inherit;}
.term-kabel-stecker .facetwp-checkbox[data-value="silikonkabel"] {display: inherit;}
.term-kabel-stecker .facetwp-checkbox[data-value="stecker-buchsen-e-flug"] {display: inherit;}
.term-kabel-stecker .facetwp-checkbox[data-value="zubehoer-kabel-stecker"] {display: inherit;}

/* switcher for category END */
