<?php
die("!");
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $productRepository = $objectManager->get('\Magento\Catalog\Model\ProductRepository');

    $quotation = $this->getQuotation();
    $items = $this->getQuotationItems();
    $quote = $this->getQuote($quotation->getEntityId());
    $itemsQuote = $quote->getAllVisibleItems();
    $curStock = 0;
?>
<div class="data item content table-wrapper detailed" id="items-quoted">
    <div class="quote-updated" id="quote-items">
        <table id="shopping-cart-table"
               class="items data table quote-table-items">
            <?php if ($quotation->getIncTax()  == 1) : ?>
                <thead>
                <tr>
                    <th class="col item" scope="col"><span>Product</span></th>
                    <th class="col sku" scope="col"><span>SKU</span></th>
                    <th class="col uom" scope="col"><span>UOM</span></th>
                    <th class="col price" scope="col"><span>Price</span></th>
                    <th class="col price" scope="col"><span>Special Price</span></th>
                    <th class="col qty" scope="col"><span>Qty</span></th>
                    <th class="col indent" scope="col"><span>Indent Info</span></th>
                    <th class="col subtotal" scope="col">Amount</span></th>
                </tr>
                </thead>
                <tbody>
                    <?php foreach ($items as $item): ?>
                        <?php 
                        $product = $this->getLoadProduct($item->getProductId());
                        $productRepository = $this->getProductRepository($item->getProductId());
                        $itemStock = $this->getStockItemQty($product);
                        if($itemStock == 0) {
                            $curStock = 0;
                        }
                        else {
                            $curStock = $itemStock;
                        }
                        $itemsLeft = ($curStock > $item->getQty()) ? ($curStock - $item->getQty()) * 1 : $curStock;
                        $itemsLeft = $itemsLeft < 0 ? 0 : $itemsLeft;
                        $backorderQty = ($itemsLeft > 0) ? ($item->getQty() - $itemsLeft) * 1 : $item->getQty();
                        if($item->getParentItemId() == null) {
                            $leadTime = 0;
                            $indentTime = 0;
                            $cusDispatchTime = 0;
                            $pdt = 0;
                            $imageType = 'product_thumbnail_image';
                            $image = $this->getImage($product, $imageType);
                            if (null !== $product->getCustomAttribute('lead_time')) {
                                $leadTime = $product->getCustomAttribute('lead_time')->getValue();
                            }
                            if (null !== $product->getCustomAttribute('indent_time')) {
                                $indentTime = $product->getCustomAttribute('indent_time')->getValue();
                            }
                            if (null !== $product->getCustomAttribute('customer_dispatch_time')) {
                                $cusDispatchTime = $product->getCustomAttribute('customer_dispatch_time')->getValue();
                            }
                            if (null !== $product->getCustomAttribute('pdt')) {
                                $pdt = $product->getCustomAttribute('pdt')->getValue();
                            }
                        ?>
                        <?php
                            if ($item->getProductType() == 'configurable'){
                                $dataProduct = "";
                                $dataSku = "";
                                foreach ($items as $itemConf){
                                    if ($itemConf->getParentItemId() != null) {
                                        if ($itemConf->getParentItemId() == $item->getId()) {
                                            $productConf = $this->getLoadProduct($itemConf->getProductId());
                                            if ($productConf != null) {
                                                $dataProduct = $productConf->getName();
                                                $dataSku = $productConf->getSku();
                                            }
                                        }
                                    }
                                }
                            }else{
                                $dataProduct = $product->getName();
                                $dataSku = $product->getSku();
                            }
                        ?>
                        <tr>
                            <td data-th="Product">
                                <img src="<?php echo $image->getImageUrl(); ?>" style="width:80px;margin-bottom:10px;"/>
                                <h3><?= $dataProduct; ?></h3>
                                <?php
                                // foreach ($itemsQuote as $value) {
                                //     if($item->getQuoteItemId() == $value->getItemId()) { 
                                //         $options = $value->getProduct()->getTypeInstance(true)->getOrderOptions($value->getProduct());
                                //         if (isset($options['attributes_info'])) {
                                //             echo '<dl>';
                                //             foreach ($options['attributes_info'] as $key => $value) {
                                //                 echo '<dt>'.$value['label'].': '.$value['value'].'</dt>';
                                //             }
                                //             echo '</dl>';
                                //         }
                                //     }
                                // }
                                ?>
                            </td>
                            <td data-th="SKU">
                                <?= $dataSku; ?>
                            </td>
                            <td data-th="UOM">
                                <?= $item->getSalesUom();?>
                            </td>
                            <td data-th="Price">
                                <?php if ($item->getProductType() == 'configurable') {
                                    echo $this->formatPrice($item->getOriginalPrice()+(10/100 * $item->getOriginalPrice()));
                                } else {
                                    echo $this->formatPrice($product->getPrice()+(10/100 * $product->getPrice()));
                                }
                                ?>
                            </td>
                            <td data-th="Special Price">
                                <?= $this->formatPrice($item->getSpecialPrice()+$item->getSpecialTaxAmmount());?>
                            </td>
                            <td data-th="Qty">
                                <?= $item->getQty();?>
                            </td>
                            <td data-th="Indent Information">
                                <?php
                                    if($item->getQty() > $curStock)
                                        echo ($itemsLeft * 1).' available now <br/> '.($backorderQty * 1).' available ship on '.($indentTime + $pdt).' working day(s).';
                                    else
                                        echo '-';
                                ?>
                            </td>
                            <td data-th="Amount">
                                <?php 
                                    if($item->getSpecialPrice() <= 0) 
                                        echo $this->formatPrice($item->getOriginalPrice()*$item->getQty()+$item->getOriginalTaxAmount()*$item->getQty());
                                    else 
                                        echo $this->formatPrice($item->getSpecialPrice()*$item->getQty()+$item->getSpecialTaxAmmount()*$item->getQty());
                                ?>
                            </td>
                        </tr>
                        <?php } ?>
                    <?php endforeach; ?>
                </tbody>
            <?php else: ?>
            <thead>
                <tr>
                    <th>Product</th>
                    <th><span>SKU</span></th>
                    <th><span>UOM</span></th>
                    <th><span>Price</br>(Exc. Tax)</span></th>
                    <th><span>Special Price</br>(Exc. Tax)</span></th>
                    <th><span>Qty</span></th>
                    <th><span>Indent Info</span></th>
                    <th><span>Amount</br>(Exc. Tax)</span></th>
                </tr>
                </thead>
                <tbody>
                    <?php foreach ($items as $item): ?>
                        <?php 
                            $product = $this->getLoadProduct($item->getProductId());
                            $productRepository = $this->getProductRepository($item->getProductId());
                            $itemStock = $this->getStockItemQty($product);
                            if($itemStock == 0) {
                                $curStock = 0;
                            }
                            else {
                                $curStock = $itemStock;
                            }
                            $itemsLeft = ($curStock > $item->getQty()) ? ($curStock - $item->getQty()) * 1 : $curStock;
                            $itemsLeft = $itemsLeft < 0 ? 0 : $itemsLeft;
                            $backorderQty = ($itemsLeft > 0) ? ($item->getQty() - $itemsLeft) * 1 : $item->getQty();
                            if($item->getParentItemId() == null) {
                                $leadTime = 0;
                                $indentTime = 0;
                                $cusDispatchTime = 0;
                                $pdt = 0;
                                $imageType = 'product_thumbnail_image';
                                $image = $this->getImage($product, $imageType);
                                if (null !== $product->getCustomAttribute('lead_time')) {
                                    $leadTime = $product->getCustomAttribute('lead_time')->getValue();
                                }
                                if (null !== $product->getCustomAttribute('indent_time')) {
                                    $indentTime = $product->getCustomAttribute('indent_time')->getValue();
                                }
                                if (null !== $product->getCustomAttribute('customer_dispatch_time')) {
                                    $cusDispatchTime = $product->getCustomAttribute('customer_dispatch_time')->getValue();
                                }
                                if (null !== $product->getCustomAttribute('pdt')) {
                                    $pdt = $product->getCustomAttribute('pdt')->getValue();
                                }
                        ?>
                        <?php
                            if ($item->getProductType() == 'configurable'){
                                $dataProduct = "";
                                $dataSku = "";
                                foreach ($items as $itemConf){
                                    if ($itemConf->getParentItemId() != null) {
                                        if ($itemConf->getParentItemId() == $item->getId()) {
                                            $productConf = $this->getLoadProduct($itemConf->getProductId());
                                            if ($productConf != null) {
                                                $dataProduct = $productConf->getName();
                                                $dataSku = $productConf->getSku();
                                            }
                                        }
                                    }
                                }
                            }else{
                                $dataProduct = $product->getName();
                                $dataSku = $product->getSku();
                            }
                        ?>
                        <tr>
                            <td data-th="Product">
                                <img src="<?php echo $image->getImageUrl(); ?>" style="width:80px;margin-bottom:10px;"/>
                                <h3><?= $dataProduct; ?></h3>
                                <?php
                                // foreach ($itemsQuote as $value) {
                                //     if($item->getQuoteItemId() == $value->getItemId()) { 
                                //         $options = $value->getProduct()->getTypeInstance(true)->getOrderOptions($value->getProduct());
                                //         if (isset($options['attributes_info'])) {
                                //             echo '<dl>';
                                //             foreach ($options['attributes_info'] as $key => $value) {
                                //                 echo '<dt>'.$value['label'].': '.$value['value'].'</dt>';
                                //             }
                                //             echo '</dl>';
                                //         }
                                //     }
                                // }
                                ?>
                            </td>
                            <td data-th="SKU">
                                <?= $dataSku; ?>
                            </td>
                            <td data-th="UOM">
                                <?= $item->getSalesUom();?>
                            </td>
                            <td data-th="Price">
                                <?php if ($item->getProductType() == 'configurable') {
                                    echo $this->formatPrice($item->getOriginalPrice()+(10/100 * $item->getOriginalPrice()));
                                } else {
                                    echo $this->formatPrice($product->getPrice()+(10/100 * $product->getPrice()));
                                }
                                ?>                                
                            </td data-th="Special Price">
                            <td>
                                <?= $this->formatPrice($item->getSpecialPrice());?>
                            </td>
                            <td data-th="Qty">
                                <?= $item->getQty();?>
                            </td>
                            <td data-th="Indent Information">
                                <?php
                                    if($item->getQty() > $curStock)
                                        echo ($itemsLeft * 1).' available now <br/> '.($backorderQty * 1).' available ship on '.($leadTime + $pdt + 2).' working day(s).';
                                    else
                                        echo '-';
                                ?>
                            </td>
                            <td data-th="Amount">
                                <?php 
                                    if($item->getSpecialPrice() <= 0) 
                                        echo $this->formatPrice($item->getOriginalPrice()*$item->getQty());
                                    else 
                                        echo $this->formatPrice($item->getSpecialPrice()*$item->getQty());
                                ?>
                            </td>
                        </tr>
                        <?php } ?>
                    <?php endforeach; ?>
                </tbody>
            <?php endif; ?>
        </table>
        </form>
        <div class="quote-table-totals-wrap">
            <table id="shopping-cart-table-totals" class="items data table quote-table-totals">
                <tfoot>
                <?= $block->getChildHtml('quotation_totals') ?>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){ 
        function tableSize() {
            $('.quote-table-totals-wrap').innerWidth($('.quote-table-items').width() - 2);
        }

        $( document ).ready(function() {    
            tableSize();
        });
        $(window).resize(function(){
            tableSize();
        });
    });
</script>
